Prod/src/flows/AHCUAT-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Select_a_Rating</name>
        <choiceText>Select a Rating</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <label>AHCUAT</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateResult</name>
        <label>CreateResult</label>
        <locationX>368</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Displayfault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>UAT_Comments__c</field>
            <value>
                <elementReference>Results_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Quality_Score__c</field>
            <value>
                <elementReference>Quality_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Score__c</field>
            <value>
                <elementReference>UAT_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Topics__c</field>
            <value>
                <elementReference>varTopicRealID</elementReference>
            </value>
        </inputAssignments>
        <object>UAT_Results__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookupTopic</name>
        <label>LookupTopic</label>
        <locationX>361</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UATAction</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Topic_ID</elementReference>
            </value>
        </filters>
        <object>UAT_Topics__c</object>
        <outputAssignments>
            <assignToReference>varTopicRealID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTopicProduct</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTopicAction</assignToReference>
            <field>Topic__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTopicFocus</assignToReference>
            <field>UAT_Focus__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Displayfault</name>
        <label>Displayfault</label>
        <locationX>655</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showfault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>210</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanksmessage</name>
            <fieldText>Thanks for your help.  

To Continue - Hit Finish

To Quit - Close Window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>UAT_Start</name>
        <label>UAT Start</label>
        <locationX>168</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupTopic</targetReference>
        </connector>
        <fields>
            <name>Topic_ID</name>
            <dataType>String</dataType>
            <fieldText>Topic ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>UATAction</name>
        <label>UAT Action</label>
        <locationX>364</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateResult</targetReference>
        </connector>
        <fields>
            <name>showTopicID</name>
            <fieldText>Topic ID - {!Topic_ID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product</name>
            <fieldText>*******************************************
UAT Focus:  {!varTopicFocus}
*******************************************
Product Focus:  {!varTopicProduct}
*******************************************</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowTopic</name>
            <fieldText>{!varTopicAction}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UAT_Rating</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>Select_a_Rating</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Select_a_Rating</defaultSelectedChoiceReference>
            <fieldText>UAT Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quality_Score</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>Select_a_Rating</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Select_a_Rating</defaultSelectedChoiceReference>
            <fieldText>Quality Score</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Results_Comment</name>
            <fieldText>Results Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>UAT_Start</startElementReference>
    <variables>
        <name>varTopicAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTopicFocus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTopicProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTopicRealID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
