Prod/src/flows/CAM_Entitlement-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Active_Registration_Entitlement</name>
        <label>Active Registration Entitlement</label>
        <locationX>341</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>UpdateCasewithEntitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEntitlementIDforCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCAMEnt</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>EntitlementExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <interviewLabel>CAM Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAM Entitlement</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCAMEnt</name>
        <label>CreateCAMEnt</label>
        <locationX>123</locationX>
        <locationY>269</locationY>
        <assignRecordIdToReference>varEntitlementIDforCase</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCasewithEntitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m40000000TsnQAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EntitlementExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>CAM Entitlement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <stringValue>5520b000000k9bSAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <name>FindCAMEntitlement</name>
        <label>FindCAMEntitlement</label>
        <locationX>341</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Registration_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5520b000000k9bSAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varEntitlementIDforCase</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCasewithEntitlement</name>
        <label>UpdateCasewithEntitlement</label>
        <locationX>573</locationX>
        <locationY>273</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromOriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varEntitlementIDforCase</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>FindCAMEntitlement</startElementReference>
    <variables>
        <name>varAccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseIDfromOriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEntitlementIDforCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingEntitlementd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varnewEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
