Prod/src/flows/Cancellation_Update_to_GoLive-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssigntoNewCanCol</name>
        <label>AssigntoNewCanCol</label>
        <locationX>758</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCollectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateGLLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLog</name>
        <label>SetLog</label>
        <locationX>432</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>soGL.Log_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soGL.Log_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GoLiveLogEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewCanCol</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancel_What</name>
        <label>Cancel What?</label>
        <locationX>594</locationX>
        <locationY>7</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cancel_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelWhat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_GoLives_to_Update</targetReference>
            </connector>
            <label>Cancel All</label>
        </rules>
        <rules>
            <name>Cancel_AvaTax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelWhat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel AvaTax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_GoLives_to_Update_Cancel_AvaTax</targetReference>
            </connector>
            <label>Cancel AvaTax</label>
        </rules>
        <rules>
            <name>Cancel_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelWhat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel Returns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_GoLives_to_Update_Cancel_Returns</targetReference>
            </connector>
            <label>Cancel Returns</label>
        </rules>
        <rules>
            <name>Cancel_CertCapture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelWhat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel CertCapture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_GoLives_to_Update_Cancel_CertCapture</targetReference>
            </connector>
            <label>Cancel CertCapture</label>
        </rules>
        <rules>
            <name>Cancel_SST_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelWhat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel SST Returns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_GoLives_to_Update_Cancel_SST_Returns</targetReference>
            </connector>
            <label>Cancel SST Returns</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Any_GLs</name>
        <label>Find Any GLs</label>
        <locationX>594</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>UpdateGLLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FoundGls</defaultConnectorLabel>
        <rules>
            <name>NO_Gls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colGoLiveList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO Gls</label>
        </rules>
    </decisions>
    <interviewLabel>Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancellation Update to GoLive</label>
    <loops>
        <name>UpdateGLLoop</name>
        <label>UpdateGLLoop</label>
        <locationX>598</locationX>
        <locationY>486</locationY>
        <assignNextValueToReference>soGL</assignNextValueToReference>
        <collectionReference>colGoLiveList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetLog</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCalCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_all_GoLives_to_Update</name>
        <label>Find all GoLives to Update</label>
        <locationX>93</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any_GLs</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCancellationCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>colGoLiveList</outputReference>
        <queriedFields>Log_Type__c</queriedFields>
        <queriedFields>Log_Entry__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_GoLives_to_Update_Cancel_AvaTax</name>
        <label>Find all GoLives to Update Cancel AvaTax</label>
        <locationX>360</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any_GLs</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCancellationCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Calc__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>colGoLiveList</outputReference>
        <queriedFields>Log_Type__c</queriedFields>
        <queriedFields>Log_Entry__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_GoLives_to_Update_Cancel_CertCapture</name>
        <label>Find all GoLives to Update Cancel CertCapture</label>
        <locationX>811</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any_GLs</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCancellationCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Certs__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>colGoLiveList</outputReference>
        <queriedFields>Log_Type__c</queriedFields>
        <queriedFields>Log_Entry__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_GoLives_to_Update_Cancel_Returns</name>
        <label>Find all GoLives to Update Cancel Returns</label>
        <locationX>597</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any_GLs</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCancellationCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Returns__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>colGoLiveList</outputReference>
        <queriedFields>Log_Type__c</queriedFields>
        <queriedFields>Log_Entry__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_GoLives_to_Update_Cancel_SST_Returns</name>
        <label>Find all GoLives to Update Cancel SST Returns</label>
        <locationX>1067</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any_GLs</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCancellationCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_SST__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>colGoLiveList</outputReference>
        <queriedFields>Log_Type__c</queriedFields>
        <queriedFields>Log_Entry__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCalCollection</name>
        <label>UpdateCalCollection</label>
        <locationX>274</locationX>
        <locationY>485</locationY>
        <inputReference>UpdatedCollectionList</inputReference>
    </recordUpdates>
    <startElementReference>Cancel_What</startElementReference>
    <textTemplates>
        <name>GoLiveLogEntry</name>
        <text>This Account has just posted a Cancellation Case Number {!varCancellationCaseNumber}

https://avalara.my.salesforce.com/{!varCancellationCaseID}</text>
    </textTemplates>
    <variables>
        <name>colGoLiveList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>soGL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCancelCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>varAccountIDfromCancellationCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCancellationCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCancellationCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCancelWhat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
