Prod/src/flows/Check_Use_to_Edit_on_QCS-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Validate_NullCheck_not_NULL</name>
        <label>Validate NullCheck not NULL</label>
        <locationX>514</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QCS_Record</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
        <rules>
            <name>Exit_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit Loop</label>
        </rules>
    </decisions>
    <label>Check &apos;Use to Edit&apos; on QCS</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_QCS_record</name>
        <label>Lookup QCS record</label>
        <locationX>189</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_NullCheck_not_NULL</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteChargeSummary__c</object>
        <outputAssignments>
            <assignToReference>NullCheck</assignToReference>
            <field>Use_ToEdit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_QCS_Record</name>
        <label>Update QCS Record</label>
        <locationX>513</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Lookup_QCS_record</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Use_ToEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>zqu__QuoteChargeSummary__c</object>
    </recordUpdates>
    <startElementReference>Lookup_QCS_record</startElementReference>
    <variables>
        <name>NullCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
