Prod/src/flows/CIwithEntitlements-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ArethereAnyEntitlements</name>
        <label>ArethereAnyEntitlements</label>
        <locationX>252</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>WhichTypeofEntitlementtoCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_arethereanyEntitlements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isObjectColl_FoundEntitlements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichTypeofEntitlementtoLookFor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotGolives</name>
        <label>GotGolives</label>
        <locationX>252</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetAccountCreatedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Does not have GoLives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_GoLives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectCollection_AllGoLives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookforOpenGolives</targetReference>
            </connector>
            <label>Account Has GoLives</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotOpenGolives</name>
        <label>GotOpenGolives</label>
        <locationX>732</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>UpdateGLLookupStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Open Go Lives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Closed_Go_Lives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectionCollection_OpenGolives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGLLookup_to_Closed</targetReference>
            </connector>
            <label>Account Has Closed Go Lives</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasActiveGoldEntitlement_0</name>
        <label>HasActiveGoldEntitlement</label>
        <locationX>607</locationX>
        <locationY>1665</locationY>
        <defaultConnectorLabel>None_1</defaultConnectorLabel>
        <rules>
            <name>YesHasActive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCasewithExistingEntitlement_0</targetReference>
            </connector>
            <label>YesHasActive</label>
        </rules>
        <rules>
            <name>HasNoActive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateaGoldEntitlement_0</targetReference>
            </connector>
            <label>HasNoActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasActivePremiumEntitlement_0_0</name>
        <label>HasActivePremiumEntitlement</label>
        <locationX>870</locationX>
        <locationY>1731</locationY>
        <defaultConnectorLabel>None_1</defaultConnectorLabel>
        <rules>
            <name>YesHasActive_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCasewithExistingEntitlement_0_0</targetReference>
            </connector>
            <label>YesHasActive</label>
        </rules>
        <rules>
            <name>HasNoActive_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateaPremiumEntitlement_0_0</targetReference>
            </connector>
            <label>HasNoActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasActiveStandardEntitlement</name>
        <label>HasActiveStandardEntitlement</label>
        <locationX>374</locationX>
        <locationY>1593</locationY>
        <defaultConnectorLabel>None_1</defaultConnectorLabel>
        <rules>
            <name>YesHasActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCasewithExistingEntitlement</targetReference>
            </connector>
            <label>YesHasActive</label>
        </rules>
        <rules>
            <name>HasNoActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingEntitlementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateaStandardEntitlement</targetReference>
            </connector>
            <label>HasNoActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewGoLiveOpen</name>
        <label>IsNewGoLiveOpen</label>
        <locationX>993</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>ClearGoliveonCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Primary Go Live is Closed</defaultConnectorLabel>
        <rules>
            <name>New_Primary_Go_Live_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_ImplementationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGoLiveConsultantName</targetReference>
            </connector>
            <label>New Primary Go Live is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichTypeofEntitlementtoCreate</name>
        <label>WhichTypeofEntitlementtoCreate</label>
        <locationX>250</locationX>
        <locationY>1003</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateaStandardEntitlement</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateaGoldEntitlement_0</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateaPremiumEntitlement_0_0</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichTypeofEntitlementtoLookFor</name>
        <label>WhichTypeofEntitlementtoLookFor</label>
        <locationX>883</locationX>
        <locationY>893</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Standard_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FindActiveStandardEntitlement</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Gold_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindActiveGoldEntitlement_0</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Premium_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupportLevel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindActivePremiumEntitlement_0_0</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <label>CIwithEntitlements</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateaGoldEntitlement_0</name>
        <label>CreateaGoldEntitlement</label>
        <locationX>250</locationX>
        <locationY>1147</locationY>
        <assignRecordIdToReference>varNewEntitlementID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCasewithNewEntitlement_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m40000000Tsn1AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Default Gold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <stringValue>552400000008QObAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>CreateaPremiumEntitlement_0_0</name>
        <label>CreateaPremiumEntitlement</label>
        <locationX>460</locationX>
        <locationY>1151</locationY>
        <assignRecordIdToReference>varNewEntitlementID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCasewithNewEntitlement_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m40000000Tsn6AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Default Premium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <stringValue>552400000008QOgAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>CreateaStandardEntitlement</name>
        <label>CreateaStandardEntitlement</label>
        <locationX>48</locationX>
        <locationY>1147</locationY>
        <assignRecordIdToReference>varNewEntitlementID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCasewithNewEntitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m3000000001r7AAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>NewExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Default Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <stringValue>552400000008QOWAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <name>FindActiveGoldEntitlement_0</name>
        <label>FindActiveGoldEntitlement</label>
        <locationX>878</locationX>
        <locationY>1156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasActiveGoldEntitlement_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>552400000008QObAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varExistingEntitlementID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindActivePremiumEntitlement_0_0</name>
        <label>FindActivePremiumEntitlement</label>
        <locationX>1083</locationX>
        <locationY>1156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasActivePremiumEntitlement_0_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>552400000008QOgAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varExistingEntitlementID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindActiveStandardEntitlement</name>
        <label>FindActiveStandardEntitlement</label>
        <locationX>673</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasActiveStandardEntitlement</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>552400000008QOWAA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>varExistingEntitlementID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccountCreatedDate</name>
        <label>GetAccountCreatedDate</label>
        <locationX>23</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCustomerIntelforNoGolives</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCreated</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetConnectorNameforCustIntel</name>
        <label>GetConnectorNameforCustIntel</label>
        <locationX>465</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Primary_GoLive_Intel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_ConnectorIDforCaseIntel</elementReference>
            </value>
        </filters>
        <object>Connector__c</object>
        <outputAssignments>
            <assignToReference>GL_New_ConnectorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetData_FindNewGolive</name>
        <label>Find New Go Live Record</label>
        <locationX>735</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01240000000UYZUAA4</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>GL_GoLiveConsultantID</assignToReference>
            <field>Ava_GoLive_Coordinator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CalcLiveDate</assignToReference>
            <field>Calc_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CertsLiveDate</assignToReference>
            <field>Certs_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ConnectorIDforCaseIntel</assignToReference>
            <field>Connector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCalc</assignToReference>
            <field>Has_Calc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCerts</assignToReference>
            <field>Has_Certs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasReturns</assignToReference>
            <field>Has_Returns__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_IDfromNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationPath</assignToReference>
            <field>Implementation_Path__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationStatus</assignToReference>
            <field>Implementation_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_MigrationCreatedDate</assignToReference>
            <field>Migration_Created_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ProBasic</assignToReference>
            <field>Pro_Basic__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ReturnsLiveDate</assignToReference>
            <field>Returns_Live_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetGoLiveConsultantName</name>
        <label>GetGoLiveConsultantName</label>
        <locationX>470</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associate_GL_with_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_GoLiveConsultantID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>GL_ConsultantName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSupportLevel</name>
        <label>GetSupportLevel</label>
        <locationX>250</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ArethereAnyEntitlements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSupportLevel</assignToReference>
            <field>SupportLevel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookforOpenGolives</name>
        <label>LookforOpenGolives</label>
        <locationX>466</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotOpenGolives</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectionCollection_OpenGolives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupEntitlements</name>
        <label>LookupEntitlements</label>
        <locationX>255</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupportLevel</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>isObjectColl_FoundEntitlements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpGoLives</name>
        <label>LookUpGoLives</label>
        <locationX>21</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotGolives</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectCollection_AllGoLives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Associate_GL_with_Case</name>
        <label>Associate GL with Case</label>
        <locationX>253</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>LookupEntitlements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>GL_IDfromNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConsultantName__c</field>
            <value>
                <elementReference>FormattedGOLiveConsultantName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ClearGoliveonCase</name>
        <label>ClearGoliveonCase</label>
        <locationX>734</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>LookupEntitlements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConsultantName__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_GoLive_Intel</name>
        <label>Update Primary GoLive Intel</label>
        <locationX>730</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>IsNewGoLiveOpen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
            <value>
                <elementReference>GL_New_ConnectorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ImplementationPath__c</field>
            <value>
                <elementReference>GL_ImplementationPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>GL_MigrationCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ProBasic__c</field>
            <value>
                <elementReference>GL_ProBasic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_Status__c</field>
            <value>
                <elementReference>GL_ImplementationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithExistingEntitlement</name>
        <label>UpdateCasewithExistingEntitlement</label>
        <locationX>375</locationX>
        <locationY>1749</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varExistingEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithExistingEntitlement_0</name>
        <label>UpdateCasewithExistingEntitlement</label>
        <locationX>611</locationX>
        <locationY>1852</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varExistingEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithExistingEntitlement_0_0</name>
        <label>UpdateCasewithExistingEntitlement</label>
        <locationX>874</locationX>
        <locationY>1921</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varExistingEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithNewEntitlement</name>
        <label>UpdateCasewithNewEntitlement</label>
        <locationX>46</locationX>
        <locationY>1283</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varNewEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithNewEntitlement_0</name>
        <label>UpdateCasewithNewEntitlement</label>
        <locationX>252</locationX>
        <locationY>1288</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varNewEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithNewEntitlement_0_0</name>
        <label>UpdateCasewithNewEntitlement</label>
        <locationX>463</locationX>
        <locationY>1285</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>varNewEntitlementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomerIntelforNoGolives</name>
        <label>UpdateCustomerIntelforNoGolives</label>
        <locationX>23</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>LookupEntitlements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>No Golives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CreatedDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ImplementationPath__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>AccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ProBasic__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_Status__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookup_to_Closed</name>
        <label>UpdateGLLookup to Closed</label>
        <locationX>992</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>Closed Go-Live</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookupStatus</name>
        <label>UpdateGLLookupStatus to Open</label>
        <locationX>468</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>In Go-Live</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookUpGoLives</startElementReference>
    <textTemplates>
        <name>FormattedGOLiveConsultantName</name>
        <text>GoLive Consultant: {!GL_ConsultantName}</text>
    </textTemplates>
    <variables>
        <name>AccountCreated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDforInteloriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CalcLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CertsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConnectorIDforCaseIntel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConsultantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_GoLiveConsultantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCalc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCerts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasReturns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_IDfromNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_MigrationCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_New_ConnectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ProBasic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ReturnsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isObjectColl_FoundEntitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>sObjectCollection_AllGoLives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>sObjectionCollection_OpenGolives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>varExistingEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSupportLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
