Prod/src/flows/ClearCaseMilestonefromCompletingTask-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_it_Closed</name>
        <label>Is it Closed</label>
        <locationX>262</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>FindCaseMilestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsOpen</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <description>closed or not</description>
    <interviewLabel>ClearCaseMilestonefromCompletingTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClearCaseMilestonefromCompletingTask</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindCase</name>
        <label>FindCase</label>
        <locationX>64</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromCompletedTask</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>IsCaseClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseMilestone</name>
        <label>FindCaseMilestone</label>
        <locationX>261</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateActiveCaseMilestone_e</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromCompletedTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>varActiveMilestoneID_e</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActiveCaseMilestone_e</name>
        <label>UpdateActiveCaseMilestone_e</label>
        <locationX>258</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>UpdateCaseOwnerAction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActiveMilestoneID_e</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOwnerAction</name>
        <label>UpdateCaseOwnerAction</label>
        <locationX>457</locationX>
        <locationY>379</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromCompletedTask</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_Action__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>FindCase</startElementReference>
    <variables>
        <name>IsCaseClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveMilestoneID_e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseIDfromCompletedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseIDfromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
