Prod/src/flows/ClearCaseMilestonefromOutgoingEmail-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>ClearCaseMilestonefromOutgoingEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClearCaseMilestonefromOutgoingEmail</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindCaseMilestone</name>
        <label>FindCaseMilestone</label>
        <locationX>176</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateActiveCaseMilestone_e</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>varActiveCaseMilestone_email</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActiveCaseMilestone_e</name>
        <label>UpdateActiveCaseMilestone_e</label>
        <locationX>454</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>UpdateCaseOwnerAction2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActiveCaseMilestone_email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOwnerAction2</name>
        <label>UpdateCaseOwnerAction2</label>
        <locationX>441</locationX>
        <locationY>262</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDfromEmail</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_Action__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>FindCaseMilestone</startElementReference>
    <variables>
        <name>varActiveCaseMilestone_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActiveMilestoneID_e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseIDfromCompletedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseIDfromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
