Prod/src/flows/CloseCaseActivities-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignFieldsYadug</name>
        <label>AssignFieldsYadug</label>
        <locationX>653</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>varSObjectVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewCollect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoNewCollect</name>
        <label>AssigntoNewCollect</label>
        <locationX>643</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>UpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSObjectVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopthrough</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>check</label>
        <locationX>196</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>ExitFlow</defaultConnectorLabel>
        <rules>
            <name>ContinueLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loopthrough</targetReference>
            </connector>
            <label>ContinueLoop</label>
        </rules>
    </decisions>
    <label>CloseCaseActivities</label>
    <loops>
        <name>Loopthrough</name>
        <label>Loopthrough</label>
        <locationX>407</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>varSObjectVariable</assignNextValueToReference>
        <collectionReference>CaseActivities</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFieldsYadug</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpenActivities</name>
        <label>GetOpenActivities</label>
        <locationX>33</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>CaseActivities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActivities</name>
        <label>UpdateActivities</label>
        <locationX>417</locationX>
        <locationY>350</locationY>
        <inputReference>UpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>GetOpenActivities</startElementReference>
    <variables>
        <name>CaseActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newvarSOb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdatedStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSObjectVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
