Prod/src/flows/CloseCaseActivities-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignFieldsYadug</name>
        <label>AssignFieldsYadug</label>
        <locationX>780</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>varSObjectVariableforClosedCaseAct.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewCollect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoNewCollect</name>
        <label>AssigntoNewCollect</label>
        <locationX>779</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>UpdateCollectionforActivites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSObjectVariableforClosedCaseAct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopthrough</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Any_Tasks_are_Open</name>
        <label>Check if Any Tasks are Open</label>
        <locationX>278</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>ExitFlow</defaultConnectorLabel>
        <rules>
            <name>ContinueLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loopthrough</targetReference>
            </connector>
            <label>ContinueLoop</label>
        </rules>
    </decisions>
    <label>CloseCaseActivities</label>
    <loops>
        <name>Loopthrough</name>
        <label>Loopthrough</label>
        <locationX>518</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>varSObjectVariableforClosedCaseAct</assignNextValueToReference>
        <collectionReference>CaseActivities</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFieldsYadug</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpenActivities</name>
        <label>GetOpenActivities</label>
        <locationX>71</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Any_Tasks_are_Open</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDforActivities</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>CaseActivities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActivities</name>
        <label>UpdateActivities</label>
        <locationX>521</locationX>
        <locationY>358</locationY>
        <inputReference>UpdateCollectionforActivites</inputReference>
    </recordUpdates>
    <startElementReference>GetOpenActivities</startElementReference>
    <variables>
        <name>CaseActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdateCollectionforActivites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdatedStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCaseIDforActivities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSObjectVariableforClosedCaseAct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
