Prod/src/flows/Convert_CAM_Lead-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Converted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Converted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Partner_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00130000002pRL7</stringValue>
        </value>
    </constants>
    <label>Convert CAM Lead v7</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CAM_Opp</name>
        <label>Create CAM Opp</label>
        <locationX>343</locationX>
        <locationY>56</locationY>
        <assignRecordIdToReference>NewOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_Record_from_CAM_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Opportunity_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerName__c</field>
            <value>
                <elementReference>Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012400000009bJh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserContact__c</field>
            <value>
                <elementReference>User_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordUpdates>
        <name>Lock_CAM_Lead</name>
        <label>Lock CAM Lead</label>
        <locationX>595</locationX>
        <locationY>248</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAM_Lead_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAM_Lead_Locked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Lead_Status__c</field>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputAssignments>
        <object>CAM_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_from_CAM_Lead</name>
        <label>Update Opportunity Record from CAM Lead</label>
        <locationX>251</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>Lock_CAM_Lead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAM_Lead_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAM_Lead_Opportunity__c</field>
            <value>
                <elementReference>NewOppID</elementReference>
            </value>
        </inputAssignments>
        <object>CAM_Lead__c</object>
    </recordUpdates>
    <startElementReference>Create_CAM_Opp</startElementReference>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CAM_Lead_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CAM_Lead_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flag = True if was converted</description>
        <name>Converted_CAM_Lead_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
