Prod/src/flows/CorrectWebMailfromMindTouch-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckLookupResults</name>
        <label>CheckLookupResults</label>
        <locationX>332</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>Does Not Have a Contact</defaultConnectorLabel>
        <rules>
            <name>Has_A_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFoundContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCasewithContact</targetReference>
            </connector>
            <label>Has A Contact</label>
        </rules>
    </decisions>
    <label>CorrectWebMailfromMindTouch</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>83</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLookupResults</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailfromUserNameField</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varFoundContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCasewithContact</name>
        <label>UpdateCasewithContact</label>
        <locationX>542</locationX>
        <locationY>406</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseIDforWebEmailUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varFoundContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>FindContact</startElementReference>
    <variables>
        <name>varCaseIDforWebEmailUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailfromUserNameField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
