Prod/src/flows/CPN_SAM_Stamp_and_Email_Alert-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_Channel_Partner_SAM</name>
        <label>Send Email Alert to Channel Partner SAM</label>
        <locationX>454</locationX>
        <locationY>513</locationY>
        <actionName>Opportunity.Channel_Partner_SAM_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Find_PMM</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_to_PMM</name>
        <label>Send Email Alert to PMM</label>
        <locationX>943</locationX>
        <locationY>481</locationY>
        <actionName>Opportunity.Channel_Partner_PMM_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>isNull</name>
        <label>isNull</label>
        <locationX>224</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAM_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SAM_Email</targetReference>
            </connector>
            <label>SAM ID Found</label>
        </rules>
        <rules>
            <name>No_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CPN_SAM_Email</targetReference>
            </connector>
            <label>No ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMMEmailIsNull2_1</name>
        <label>PMMEmailIsNull</label>
        <locationX>842</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoPMMEmailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPMMEMAIL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CPN_PMM_Email_0</targetReference>
            </connector>
            <label>NoPMMEmailFound</label>
        </rules>
        <rules>
            <name>PMMEmailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPMMEMAIL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StampPMMEmail</targetReference>
            </connector>
            <label>PMMEmailFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMMisNull</name>
        <label>PMMisNull</label>
        <locationX>722</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PMM_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPMMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PMM_Email</targetReference>
            </connector>
            <label>PMM ID Found</label>
        </rules>
        <rules>
            <name>No_PMM_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPMMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CPN_PMM_Email</targetReference>
            </connector>
            <label>No PMM ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAMEmailIsNull2</name>
        <label>SAMEmailIsNull</label>
        <locationX>320</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoEmailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAMEMAIL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CPN_SAM_Email_0</targetReference>
            </connector>
            <label>NoEmailFound</label>
        </rules>
        <rules>
            <name>EmailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSAMEMAIL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StampSAMEmail</targetReference>
            </connector>
            <label>EmailFound</label>
        </rules>
    </decisions>
    <interviewLabel>CPN SAM Stamp and Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPN SAM/PMM Stamp and Email Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_PMM</name>
        <label>Find PMM</label>
        <locationX>721</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PMMisNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing &amp; Sales Partner</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varPMMID</assignToReference>
            <field>Secondary_CDM__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_PMM_Email</name>
        <label>Find PMM Email</label>
        <locationX>830</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PMMEmailIsNull2_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPMMID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPMMEMAIL</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_SAM</name>
        <label>Find SAM</label>
        <locationX>224</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing &amp; Sales Partner</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSAMID</assignToReference>
            <field>CDM__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_SAM_Email</name>
        <label>Find SAM Email</label>
        <locationX>319</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAMEmailIsNull2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSAMID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00540000001hiu9</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSAMEMAIL</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_CPN_PMM_Email</name>
        <label>Clear CPN PMM Email</label>
        <locationX>647</locationX>
        <locationY>190</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_PMM_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_CPN_PMM_Email_0</name>
        <label>Clear CPN PMM Email</label>
        <locationX>766</locationX>
        <locationY>386</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_PMM_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_CPN_SAM_Email</name>
        <label>Clear CPN SAM Email</label>
        <locationX>140</locationX>
        <locationY>201</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_SAM_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_CPN_SAM_Email_0</name>
        <label>Clear CPN SAM Email</label>
        <locationX>200</locationX>
        <locationY>417</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_SAM_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>StampPMMEmail</name>
        <label>StampPMMEmail</label>
        <locationX>942</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_PMM</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_PMM_Email__c</field>
            <value>
                <elementReference>varPMMEMAIL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>StampSAMEmail</name>
        <label>StampSAMEmail</label>
        <locationX>448</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_Channel_Partner_SAM</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPN_SAM_Email__c</field>
            <value>
                <elementReference>varSAMEMAIL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Find_SAM</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPMMEMAIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPMMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSAMEMAIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSAMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
