Prod/src/flows/CreateCaseFromContact-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Accounts_Recivable</name>
        <choiceText>Accounts Recivable</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>CAM</name>
        <choiceText>CAM</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <choices>
        <name>Support</name>
        <choiceText>Support</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
        </userInput>
    </choices>
    <decisions>
        <name>Which_Type</name>
        <label>Which Type</label>
        <locationX>513</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>SupportAboutWhat_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SupportCase</defaultConnectorLabel>
        <rules>
            <name>ARCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accounts_Recivable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARAboutWhat</targetReference>
            </connector>
            <label>ARCase</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ARFunctionDropdown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AR_Functional_Area__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ARproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AR_Product__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ARReasonDrop</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AR_Reasons__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Case From Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case From Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>806</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>AR_Functional_Area__c</field>
            <value>
                <elementReference>AR_Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AR_Product__c</field>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactCaseSafeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Contact Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00540000000ygdvAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01233000000MIzwAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCase_0Support</name>
        <label>CreateCaseSupport</label>
        <locationX>516</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactCaseSafeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Contact Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00540000000ygdvAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000UbnSAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_0_S</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>LookupContact</name>
        <label>LookupContact</label>
        <locationX>87</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseTypeSelect</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactCaseSafeID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ARAboutWhat</name>
        <label>AR Case About</label>
        <locationX>798</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>AR</name>
            <fieldText>AR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>ARproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AR_Function</name>
            <choiceReferences>ARFunctionDropdown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AR Function</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CaseTypeSelect</name>
        <label>Select Case Issue Type</label>
        <locationX>283</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Type</targetReference>
        </connector>
        <fields>
            <name>ContactNameLu</name>
            <fieldText>{!ContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Support</choiceReferences>
            <choiceReferences>Accounts_Recivable</choiceReferences>
            <choiceReferences>CAM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SupportAboutWhat_0</name>
        <label>Support Case About</label>
        <locationX>508</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_0Support</targetReference>
        </connector>
        <fields>
            <name>Subject_0_S</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0_S</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>659</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thankstxt</name>
            <fieldText>thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LookupContact</startElementReference>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactCaseSafeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
