Prod/src/flows/EMEA_Document_Handler_Flow-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Are_EMEA_Documents_Created_already</name>
        <label>Are EMEA Documents Created already</label>
        <locationX>19</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Is_EMEA_Country_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDocDate</defaultConnectorLabel>
        <rules>
            <name>GotEMEADocDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEADocFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>GotEMEADocDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_EMEA_Country_Set</name>
        <label>Is EMEA Country Set</label>
        <locationX>233</locationX>
        <locationY>6</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EMEA_Country_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_of_Local_VAT_certificates</targetReference>
            </connector>
            <label>EMEA Country is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatstheEMEACountry</name>
        <label>WhatstheEMEACountry</label>
        <locationX>744</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Online_filing_PoA</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X64_8</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Poland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPL_1_online_filling</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annexo_1</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Czech_Republic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Statement</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
    </decisions>
    <interviewLabel>EMEA Document Handler Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMEA Document Handler Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Annexo_1</name>
        <label>Annexo 1</label>
        <locationX>893</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Trade_register_extract</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Annexo 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Control_Statement</name>
        <label>Control Statement</label>
        <locationX>1042</locationX>
        <locationY>230</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Control Statement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_any_correspondence_with_the_Tax_Authorities</name>
        <label>Copy of any correspondence with the Tax Authorities</label>
        <locationX>14</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Details_of_Bank_account_s_used_for_each_country</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of any correspondence with the Tax Authorities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_Local_VAT_certificates</name>
        <label>Copy of Local VAT certificates</label>
        <locationX>18</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Returns_filed_in_2016</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of Local VAT certificates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_the_registration_application_submitted</name>
        <label>Copy of the registration application submitted</label>
        <locationX>234</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>EC_Sales_list_dispatches_filed_in_2016</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of the registration application submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Details_of_Bank_account_s_used_for_each_country</name>
        <label>Details of Bank account(s) used for each country</label>
        <locationX>7</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Copy_of_the_registration_application_submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Details of Bank account(s) used for each country</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>EC_Sales_list_dispatches_filed_in_2016</name>
        <label>EC Sales list/dispatches filed in 2016</label>
        <locationX>235</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Intrastat_filed_in_2016</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>EC Sales list/dispatches filed in 2016</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>HMRC_Login_credentials</name>
        <label>HMRC Login credentials</label>
        <locationX>594</locationX>
        <locationY>338</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>HMRC Login credentials</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Intrastat_filed_in_2016</name>
        <label>Intrastat filed in 2016</label>
        <locationX>235</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>PoA</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Intrastat filed in 2016</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>NIP_2</name>
        <label>NIP-2</label>
        <locationX>742</locationX>
        <locationY>344</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>NIP-2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Online_filing_PoA</name>
        <label>Online filing PoA</label>
        <locationX>447</locationX>
        <locationY>235</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Online filing PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>PoA</name>
        <label>PoA</label>
        <locationX>231</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Returns_filed_in_2016</name>
        <label>Returns filed in 2016</label>
        <locationX>15</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Copy_of_any_correspondence_with_the_Tax_Authorities</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Returns filed in 2016</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Trade_register_extract</name>
        <label>Trade register extract</label>
        <locationX>893</locationX>
        <locationY>347</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Trade register extract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>UPL_1_online_filling</name>
        <label>UPL - 1 (online filling)</label>
        <locationX>744</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>NIP_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>UPL - 1 (online filling)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>X64_8</name>
        <label>64-8</label>
        <locationX>599</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>HMRC_Login_credentials</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>64-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordUpdates>
        <name>SetEmeaDocDate</name>
        <label>SetEmeaDocDate</label>
        <locationX>393</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>WhatstheEMEACountry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMEADocsCreatedFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Documents_Created__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Are_EMEA_Documents_Created_already</startElementReference>
    <variables>
        <name>varCountryCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMEACountryofCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMEADocFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
