Prod/src/flows/EMEA_Document_Handler_Flow-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EMEA_Alert</name>
        <label>Send EMEA Alert</label>
        <locationX>231</locationX>
        <locationY>90</locationY>
        <actionName>Case.EMEA_Doc_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Are_EMEA_Documents_Created_already</name>
        <label>Are EMEA Documents Created already</label>
        <locationX>38</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Are_EMEA_Values_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDocDate</defaultConnectorLabel>
        <rules>
            <name>GotEMEADocDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEADocFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>GotEMEADocDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_EMEA_Values_Set</name>
        <label>Are EMEA Values Set?</label>
        <locationX>442</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Send_EMEA_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EMEA_Required_Values_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACompanyType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varMRSRegistrationtype</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>What_is_MRS_Registration_type</targetReference>
            </connector>
            <label>EMEA Required Values Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_MRS_Registration_type</name>
        <label>What is MRS Registration type?</label>
        <locationX>877</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMRSRegistrationtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_of_Local_VAT_certificates</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Registration_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMRSRegistrationtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEMEACompanyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2x_secondary_proof_of_ID</targetReference>
            </connector>
            <label>Registration - Business</label>
        </rules>
        <rules>
            <name>Registration_Sole_Trader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMRSRegistrationtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAT Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEMEACompanyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sole Trader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2x_secondary_proof_of_ID_2</targetReference>
            </connector>
            <label>Registration - Sole Trader</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatstheEMEACountry</name>
        <label>WhatstheEMEACountry</label>
        <locationX>225</locationX>
        <locationY>649</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Online_filing_PoA</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X64_8</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Poland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPL_1_online_filling</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annexo_1</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Czech_Republic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Statement</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatstheEMEACountry_0</name>
        <label>WhatstheEMEACountry</label>
        <locationX>877</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>France_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Articles_of_Association_0_0</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>United_Kingdom_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Articles_of_Association_0</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Germany_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Articles_of_Association</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Italy_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Poland_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Articles_of_Association_0_0_1</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Spain_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annexo_1_0</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Czech_Republic_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatstheEMEACountry_0_2</name>
        <label>WhatstheEMEACountry</label>
        <locationX>1849</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>France_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2_2_2_2_2_2</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>United_Kingdom_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2_2_2_2_2</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Germany_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2_2</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Italy_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2_2_2</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Poland_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2_2_2_2</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Spain_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annexo_1_0_2</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Czech_Republic_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEMEACountryofCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Local_VAT_Certificate_0_0_1_2</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
    </decisions>
    <interviewLabel>EMEA Document Handler Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMEA Document Handler Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Annexo_1</name>
        <label>Annexo 1</label>
        <locationX>409</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Trade_register_extract</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Annexo 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Annexo_1_0</name>
        <label>Annexo 1</label>
        <locationX>750</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>PoA_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Annexo 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Annexo_1_0_2</name>
        <label>Annexo 1</label>
        <locationX>1752</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>PoA_0_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Annexo 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Articles_of_Association</name>
        <label>Articles of Association</label>
        <locationX>612</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Local_VAT_Certificate_0_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Articles of Association</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Articles_of_Association_0</name>
        <label>Articles of Association</label>
        <locationX>903</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Local_VAT_Certificate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Articles of Association</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Articles_of_Association_0_0</name>
        <label>Articles of Association</label>
        <locationX>1048</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Local_VAT_Certificate_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Articles of Association</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Articles_of_Association_0_0_1</name>
        <label>Articles of Association</label>
        <locationX>1340</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Local_VAT_Certificate_0_0_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Articles of Association</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Certificate_confirming_business_activities_trade_register_excerpt</name>
        <label>Certificate confirming business activities (trade register excerpt)</label>
        <locationX>447</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>ID_Passport_of_Authorized_Signatory</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Certificate confirming business activities (trade register excerpt)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Certificate_confirming_business_activities_trade_register_excerpt_2</name>
        <label>Certificate confirming business activities (trade register excerpt)</label>
        <locationX>1340</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>ID_Passport_of_Authorized_Signatory_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Certificate confirming business activities (trade register excerpt)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Control_Statement</name>
        <label>Control Statement</label>
        <locationX>543</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Control Statement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_any_correspondence_with_the_Tax_Authorities</name>
        <label>Copy of any correspondence with the Tax Authorities</label>
        <locationX>35</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Details_of_Bank_account_s_used_for_each_country</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of any correspondence with the Tax Authorities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_Local_VAT_certificates</name>
        <label>Copy of Local VAT certificates</label>
        <locationX>37</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Returnsfiledlastyear</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of Local VAT certificates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_the_registration_application_submitted</name>
        <label>Copy of the registration application submitted</label>
        <locationX>229</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>EC_Sales_list_dispatches_filed_last_year</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Copy of the registration application submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Details_of_Bank_account_s_used_for_each_country</name>
        <label>Details of Bank account(s) used for each country</label>
        <locationX>31</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Copy_of_the_registration_application_submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Details of Bank account(s) used for each country</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>EC_Sales_list_dispatches_filed_last_year</name>
        <label>EC Sales list/dispatches filed last year</label>
        <locationX>226</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Intrastat_filed_in_last_year</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>EC Sales list/dispatches filed last year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>HMRC_Login_credentials</name>
        <label>HMRC Login credentials</label>
        <locationX>139</locationX>
        <locationY>1005</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>HMRC Login credentials</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>ID_Passport_of_Authorized_Signatory</name>
        <label>ID/Passport of Authorized Signatory</label>
        <locationX>442</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>WhatstheEMEACountry_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>ID/Passport of Authorized Signatory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>ID_Passport_of_Authorized_Signatory_2</name>
        <label>ID/Passport of Authorized Signatory</label>
        <locationX>1338</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>WhatstheEMEACountry_0_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>ID/Passport of Authorized Signatory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Intrastat_filed_in_last_year</name>
        <label>Intrastat filed in last year</label>
        <locationX>228</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>PoA</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Intrastat filed in last year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate</name>
        <label>Local VAT Certificate</label>
        <locationX>442</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0</name>
        <label>Local VAT Certificate</label>
        <locationX>900</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0</name>
        <label>Local VAT Certificate</label>
        <locationX>1054</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1</name>
        <label>Local VAT Certificate</label>
        <locationX>1190</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2</name>
        <label>Local VAT Certificate</label>
        <locationX>1484</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2_2</name>
        <label>Local VAT Certificate</label>
        <locationX>1620</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2_2_2</name>
        <label>Local VAT Certificate</label>
        <locationX>2147</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2_2_2_2</name>
        <label>Local VAT Certificate</label>
        <locationX>2285</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2_2_2_2_2</name>
        <label>Local VAT Certificate</label>
        <locationX>2014</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_1_2_2_2_2_2_2</name>
        <label>Local VAT Certificate</label>
        <locationX>1882</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_0_2</name>
        <label>Local VAT Certificate</label>
        <locationX>1344</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Local_VAT_Certificate_0_1</name>
        <label>Local VAT Certificate</label>
        <locationX>610</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Local VAT Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>NIE_Number</name>
        <label>NIE Number</label>
        <locationX>1751</locationX>
        <locationY>766</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>NIE Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>NIP_2</name>
        <label>NIP-2</label>
        <locationX>274</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>NIP-2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Online_filing_PoA</name>
        <label>Online filing PoA</label>
        <locationX>7</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Online filing PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>PoA</name>
        <label>PoA</label>
        <locationX>228</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>WhatstheEMEACountry</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>PoA_0</name>
        <label>PoA</label>
        <locationX>748</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>PoA_0_2</name>
        <label>PoA</label>
        <locationX>1751</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>NIE_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>PoA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Returnsfiledlastyear</name>
        <label>Returns filed last year</label>
        <locationX>35</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Copy_of_any_correspondence_with_the_Tax_Authorities</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Returns filed last year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Trade_register_extract</name>
        <label>Trade register extract</label>
        <locationX>415</locationX>
        <locationY>1009</locationY>
        <connector>
            <targetReference>SetEmeaDocDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>Trade register extract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>UPL_1_online_filling</name>
        <label>UPL - 1 (online filling)</label>
        <locationX>271</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>NIP_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>UPL - 1 (online filling)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>X2x_secondary_proof_of_ID</name>
        <label>2x secondary proof of ID</label>
        <locationX>447</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Certificate_confirming_business_activities_trade_register_excerpt</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>2x secondary proof of ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>X2x_secondary_proof_of_ID_2</name>
        <label>2x secondary proof of ID</label>
        <locationX>1338</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Certificate_confirming_business_activities_trade_register_excerpt_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>2x secondary proof of ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>X64_8</name>
        <label>64-8</label>
        <locationX>139</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>HMRC_Login_credentials</targetReference>
        </connector>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <stringValue>64-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Country__c</field>
            <value>
                <elementReference>varEMEACountryofCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Country_Case__c</field>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EMEA_Document__c</object>
    </recordCreates>
    <recordUpdates>
        <name>SetEmeaDocDate</name>
        <label>SetEmeaDocDate</label>
        <locationX>894</locationX>
        <locationY>1244</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCountryCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EMEADocsCreatedFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMEA_Documents_Created__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Are_EMEA_Documents_Created_already</startElementReference>
    <variables>
        <name>varCountryCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMEACompanyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMEACountryofCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEMEADocFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMRSRegistrationtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
