Prod/src/flows/ExciseCaseSubmission-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>AvaTax_Excise</name>
        <choiceText>AvaTax Excise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AvaTax Excise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance_4_4</name>
        <choiceText>Compliance 4.4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance 4.4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance_5_x</name>
        <choiceText>Compliance 5.x</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance 5.x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical: I have no access to the platform or its features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determination_1_0</name>
        <choiceText>Determination 1.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determination 1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determination_5_x</name>
        <choiceText>Determination 5.x</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determination 5.x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Filing_Services</name>
        <choiceText>Filing Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Filing Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>FireFox</name>
        <choiceText>FireFox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FireFox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Chrome</name>
        <choiceText>Google Chrome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Chrome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Government</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High: Unable to file a return or perform a calculation.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet_Explorer</name>
        <choiceText>Internet Explorer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Explorer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low: I have a suggestion for a feature enhancement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium: I am able to perform most basic functions, but I have a problem.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Product</name>
        <choiceText>Non-Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Returns_Excise</name>
        <choiceText>Returns Excise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Returns Excise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safari</name>
        <choiceText>Safari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schedule_Transaction_Importer</name>
        <choiceText>Schedule Transaction Importer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Transaction Importer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Select_One_Browser</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Select_One_Priority</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X4_4181_10_1_2014</name>
        <choiceText>4.4.181  10/1/2014</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4.4181  10/1/2014</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_4_171_7_1_2014</name>
        <choiceText>4.4.171  7/1/2014</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4.4.171  7/1/2014</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_4_191_1_6_2015</name>
        <choiceText>4.4.191  1/6/2015</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4.4.191  1/6/2015</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_18_20_11_3_2014</name>
        <choiceText>5.18.20  11/3/2014</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.18.20  11/3/2014</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_19_20_2_2_2015</name>
        <choiceText>5.19.20  2/2/2015</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.19.20  2/2/2015</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_20_0_3_2_2015</name>
        <choiceText>5.20.0  3/2/2015</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5.20.0  3/2/2015</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FoundaContact</name>
        <label>FoundaContact?</label>
        <locationX>578</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>CreateExciseCase_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FoundID</defaultConnectorLabel>
        <rules>
            <name>NOIDFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFoundContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateExciseCase</targetReference>
            </connector>
            <label>NOIDFound</label>
        </rules>
    </decisions>
    <interviewLabel>ExciseCaseSubmission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExciseCaseSubmission</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateExciseCase</name>
        <label>CreateExciseCase</label>
        <locationX>833</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExciseCaseFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web to case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G40000001oemXEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>SelectProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000Uc7DAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateExciseCase_0</name>
        <label>CreateExciseCase</label>
        <locationX>312</locationX>
        <locationY>277</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExciseCaseFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varFoundContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web to case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G40000001oemXEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>SelectProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000Uc7DAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindContactbyWebEmail</name>
        <label>FindContactbyWebEmail</label>
        <locationX>147</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundaContact</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varFoundContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ExciseCaseFault</name>
        <label>ExciseCaseFault</label>
        <locationX>569</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultExcise</name>
            <fieldText>An error has occured.

{!$Flow.FaultMessage}


Please email support@avalara.com</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ExciseCaseSubmissionScreen</name>
        <label>Excise Case Submission</label>
        <locationX>150</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindContactbyWebEmail</targetReference>
        </connector>
        <fields>
            <name>Web_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varWebEmail</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_Summary</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Quick summary of your problem</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Select_One_Priority</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Critical: No access to the platform or its features
High: Unable to file a return or perform a calculation  
Medium: A Problem exists, but most functions are available
Low: I have a suggestion for a feature enhancement</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SelectProduct</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Returns_Excise</choiceReferences>
            <choiceReferences>AvaTax_Excise</choiceReferences>
            <choiceReferences>Filing_Services</choiceReferences>
            <choiceReferences>Government</choiceReferences>
            <choiceReferences>Schedule_Transaction_Importer</choiceReferences>
            <choiceReferences>Non_Product</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>What Excise tax product are you using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>+v5: Look in the lower right corner of any Avalara Excise Platform 5 window.
+v4: Click Help &gt; About. If the Application and Database Version don’t match, use the application version here and include the Database Version in the Description.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Version</name>
            <choiceReferences>X4_4_171_7_1_2014</choiceReferences>
            <choiceReferences>X4_4181_10_1_2014</choiceReferences>
            <choiceReferences>X4_4_191_1_6_2015</choiceReferences>
            <choiceReferences>X5_18_20_11_3_2014</choiceReferences>
            <choiceReferences>X5_19_20_2_2_2015</choiceReferences>
            <choiceReferences>X5_20_0_3_2_2015</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Version</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Browser</name>
            <choiceReferences>Select_One_Browser</choiceReferences>
            <choiceReferences>Google_Chrome</choiceReferences>
            <choiceReferences>FireFox</choiceReferences>
            <choiceReferences>Safari</choiceReferences>
            <choiceReferences>Internet_Explorer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One_Browser</defaultSelectedChoiceReference>
            <fieldText>If Version 5+, What internet browser are you using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>(e.g. Google Chrome Version 32.0.1700.72 m, Firefox 25.0, Internet Explorer Version: 9.0.8112.16421) 
Where to find it?   
In the upper right corner of your browser. . .
Internet Explorer: Click the gear and then About
Google Chrome: Click the three line (Customize and Control) icon &gt; Help &gt; About
Mozilla Firefox: Click the Firefox tab &gt; Help &gt; About Firefox</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WebURL</name>
            <dataType>String</dataType>
            <fieldText>If Version 5+ What is the Web URL?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Where to find it?    
1.       Go to the Avalara Excise screen where you were working
2.       Click on any blank area of any screen. 
3.       On your keyboard, press Alt+D (hold down the Alt key and tap the D key once.) This will highlight the address field. 
4.       Press Ctrl+C on your keyboard to copy the address.
5.       Paste that into this field.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TaxSession_a</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_TaxSession</elementReference>
            </defaultValue>
            <fieldText>What is the Tax Session?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Hint: From the banner menu, click Tax Filing &gt; Tax Sessions. 
For example “United States &gt; Tennessee &gt; Exporter &gt; 8/1/2014”

Where to find it?    
+v5: From the banner menu, click Tax Filing &gt; Tax Sessions. For example “United States &gt; Tennessee &gt; Exporter &gt; 8/1/2014”
+v4: In the top line of the Zytax 4 program</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <defaultValue>
                <elementReference>varErrorMessage</elementReference>
            </defaultValue>
            <fieldText>What was the error message, if any?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Describe_Issue</name>
            <fieldText>Briefly describe the issue, including steps taken just before the problem occurred.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Submit_Success</name>
        <label>Submit Success</label>
        <locationX>578</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourSuccess</name>
            <fieldText>Your case has been submitted successfully.

Please notate you case number for future reference.

CASE #{!varNewCaseID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>ExciseCaseSubmissionScreen</startElementReference>
    <textTemplates>
        <name>CaseDescription</name>
        <text>Version:  

Tax Session:  {!TaxSession_a}

Error Message:  {!ErrorMessage}

Browser:  {!Browser}

Description:  {!Describe_Issue}{!Version}</text>
    </textTemplates>
    <variables>
        <name>var_TaxSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G40000001oemXEAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01240000000Uc7DAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>varWebEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
