Prod/src/flows/ExciseCaseSubmission-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Compliance_4_4</name>
        <choiceText>Compliance 4.4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance 4.4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance_5_x</name>
        <choiceText>Compliance 5.x</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance 5.x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical: I have no access to the platform or its features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determination_1_0</name>
        <choiceText>Determination 1.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determination 1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determination_5_x</name>
        <choiceText>Determination 5.x</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determination 5.x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Filing_Services</name>
        <choiceText>Filing Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Filing Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>FireFox</name>
        <choiceText>FireFox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FireFox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Chrome</name>
        <choiceText>Google Chrome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Chrome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Government</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High: Unable to file a return or perform a calculation.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internet_Explorer</name>
        <choiceText>Internet Explorer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet Explorer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low: I have a suggestion for a feature enhancement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium: I am able to perform most basic functions, but I have a problem.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safari</name>
        <choiceText>Safari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Select_One_Browser</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Select_One_Priority</name>
        <choiceText>- Select One -</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>FoundaContact</name>
        <label>FoundaContact?</label>
        <locationX>578</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>CreateExciseCase_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FoundID</defaultConnectorLabel>
        <rules>
            <name>NOIDFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFoundContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateExciseCase</targetReference>
            </connector>
            <label>NOIDFound</label>
        </rules>
    </decisions>
    <interviewLabel>ExciseCaseSubmission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExciseCaseSubmission</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateExciseCase</name>
        <label>CreateExciseCase</label>
        <locationX>833</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExciseCaseFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web to case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G40000001oemXEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000Uc7DAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateExciseCase_0</name>
        <label>CreateExciseCase</label>
        <locationX>312</locationX>
        <locationY>277</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ExciseCaseFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varFoundContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web to case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G40000001oemXEAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000Uc7DAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindContactbyWebEmail</name>
        <label>FindContactbyWebEmail</label>
        <locationX>147</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundaContact</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Web_Email_Address</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varFoundContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ExciseCaseFault</name>
        <label>ExciseCaseFault</label>
        <locationX>569</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultExcise</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ExciseCaseSubmissionScreen</name>
        <label>Excise Case Submission</label>
        <locationX>144</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindContactbyWebEmail</targetReference>
        </connector>
        <fields>
            <name>Web_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varWebEmail</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_Summary</name>
            <dataType>String</dataType>
            <fieldText>Issue Summary</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Quick summary of your problem</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Select_One_Priority</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Critical: No access to the platform or its features
High: Unable to file a return or perform a calculation  
Medium: A Problem exists, but most functions are available
Low: I have a suggestion for a feature enhancement</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SelectProduct</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Compliance_4_4</choiceReferences>
            <choiceReferences>Compliance_5_x</choiceReferences>
            <choiceReferences>Determination_1_0</choiceReferences>
            <choiceReferences>Determination_5_x</choiceReferences>
            <choiceReferences>Filing_Services</choiceReferences>
            <choiceReferences>Government</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>What Excise tax product are you using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Hint: Look in the lower right corner of any Avalara Excise Platform 5 window.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Browser</name>
            <choiceReferences>Select_One_Browser</choiceReferences>
            <choiceReferences>Google_Chrome</choiceReferences>
            <choiceReferences>FireFox</choiceReferences>
            <choiceReferences>Safari</choiceReferences>
            <choiceReferences>Internet_Explorer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One_Browser</defaultSelectedChoiceReference>
            <fieldText>What internet browser are you using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TaxSession_a</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_TaxSession</elementReference>
            </defaultValue>
            <fieldText>What is the Tax Session?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Hint: From the banner menu, click Tax Filing &gt; Tax Sessions. 
For example “United States &gt; Tennessee &gt; Exporter &gt; 8/1/2014”</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <defaultValue>
                <elementReference>varErrorMessage</elementReference>
            </defaultValue>
            <fieldText>What was the error message, if any?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Describe_Issue</name>
            <fieldText>Briefly describe the issue, including steps taken just before the problem occurred.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Submit_Success</name>
        <label>Submit Success</label>
        <locationX>578</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourSuccess</name>
            <fieldText>Your case has been submitted successfully.

Please notate you case number for future reference.

CASE #{!varNewCaseID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>ExciseCaseSubmissionScreen</startElementReference>
    <textTemplates>
        <name>CaseDescription</name>
        <text>Tax Session:  {!TaxSession_a}

Error Message:  {!ErrorMessage}

Browser:  {!Browser}

Description:  {!Describe_Issue}</text>
    </textTemplates>
    <variables>
        <name>var_TaxSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G40000001oemXEAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01240000000Uc7DAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>varWebEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
