Prod/src/flows/GetCustomerIntelligence-30.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckCalcLiveDate</name>
        <label>CheckCalcLiveDate</label>
        <locationX>731</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>ClearCalcLiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calc is Not Live</defaultConnectorLabel>
        <rules>
            <name>CalcLiveDateYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_CalcLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCalcLiveDate</targetReference>
            </connector>
            <label>Calc is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCertsLiveDate</name>
        <label>CheckCertsLiveDate</label>
        <locationX>732</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>ClearCertsLiveDate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Certs is not live</defaultConnectorLabel>
        <rules>
            <name>CertsLiveDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_CertsLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Certs_Live</targetReference>
            </connector>
            <label>Certs is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReturnsLiveDate</name>
        <label>CheckReturnsLiveDate</label>
        <locationX>735</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>ClearReturnsLiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Returns is Not Live</defaultConnectorLabel>
        <rules>
            <name>ReturnsisLive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_ReturnsLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Returns_Live_Date</targetReference>
            </connector>
            <label>Returns is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_GL_have_returns</name>
        <label>Does GL have returns</label>
        <locationX>249</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Update_Has_Returns_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have returns</defaultConnectorLabel>
        <rules>
            <name>GL_Has_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasReturns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasReturns</targetReference>
            </connector>
            <label>Has Returns Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_GL_have_Calc</name>
        <label>Does the GL have Calc</label>
        <locationX>253</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Update_Has_Calc_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have calc</defaultConnectorLabel>
        <rules>
            <name>GL_has_calc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasCalc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasCalctoYes</targetReference>
            </connector>
            <label>Has Calc Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_GL_have_Certs</name>
        <label>Does the GL have Certs</label>
        <locationX>247</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Update_has_Certs_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have Certs</defaultConnectorLabel>
        <rules>
            <name>HasCertsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasCerts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasCertstoYes</targetReference>
            </connector>
            <label>Has Certs Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotGolives</name>
        <label>GotGolives</label>
        <locationX>232</locationX>
        <locationY>1</locationY>
        <defaultConnector>
            <targetReference>GetAccountCreatedDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Does not have GoLives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_GoLives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectCollection_AllGoLives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookforOpenGolives</targetReference>
            </connector>
            <label>Account Has GoLives</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotOpenGolives</name>
        <label>GotOpenGolives</label>
        <locationX>732</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>UpdateGLLookupStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Open Go Lives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Closed_Go_Lives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectionCollection_OpenGolives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGLLookup_to_Closed</targetReference>
            </connector>
            <label>Account Has Closed Go Lives</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewGoLiveOpen</name>
        <label>IsNewGoLiveOpen</label>
        <locationX>483</locationX>
        <locationY>1402</locationY>
        <defaultConnector>
            <targetReference>ClearGoliveonCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Primary Go Live is Closed</defaultConnectorLabel>
        <rules>
            <name>New_Primary_Go_Live_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_ImplementationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGoLiveConsultantName</targetReference>
            </connector>
            <label>New Primary Go Live is Open</label>
        </rules>
    </decisions>
    <label>GetCustomerIntelligence</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountCreatedDate</name>
        <label>GetAccountCreatedDate</label>
        <locationX>23</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCustomerIntelforNoGolives</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCreated</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetConnectorNameforCustIntel</name>
        <label>GetConnectorNameforCustIntel</label>
        <locationX>484</locationX>
        <locationY>1170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Primary_GoLive_Intel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_ConnectorIDforCaseIntel</elementReference>
            </value>
        </filters>
        <object>Connector__c</object>
        <outputAssignments>
            <assignToReference>GL_New_ConnectorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetData_FindNewGolive</name>
        <label>Find New Go Live Record</label>
        <locationX>735</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_GL_have_Calc</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01240000000UYZUAA4</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>GL_GoLiveConsultantID</assignToReference>
            <field>Ava_GoLive_Coordinator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CalcLiveDate</assignToReference>
            <field>Calc_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CertsLiveDate</assignToReference>
            <field>Certs_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ConnectorIDforCaseIntel</assignToReference>
            <field>Connector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCalc</assignToReference>
            <field>Has_Calc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCerts</assignToReference>
            <field>Has_Certs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasReturns</assignToReference>
            <field>Has_Returns__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_IDfromNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationPath</assignToReference>
            <field>Implementation_Path__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationStatus</assignToReference>
            <field>Implementation_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_MigrationCreatedDate</assignToReference>
            <field>Migration_Created_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ProBasic</assignToReference>
            <field>Pro_Basic__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ReturnsLiveDate</assignToReference>
            <field>Returns_Live_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetGoLiveConsultantName</name>
        <label>GetGoLiveConsultantName</label>
        <locationX>305</locationX>
        <locationY>1567</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associate_GL_with_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_GoLiveConsultantID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>GL_ConsultantName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookforOpenGolives</name>
        <label>LookforOpenGolives</label>
        <locationX>463</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotOpenGolives</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectionCollection_OpenGolives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpGoLives</name>
        <label>LookUpGoLives</label>
        <locationX>21</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotGolives</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectCollection_AllGoLives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Associate_GL_with_Case</name>
        <label>Associate GL with Case</label>
        <locationX>302</locationX>
        <locationY>1716</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>GL_IDfromNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConsultantName__c</field>
            <value>
                <elementReference>FormattedGOLiveConsultantName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ClearCalcLiveDate</name>
        <label>ClearCalcLiveDate</label>
        <locationX>477</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ClearCertsLiveDate_0</name>
        <label>ClearCertsLiveDate</label>
        <locationX>479</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Does_GL_have_returns</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ClearGoliveonCase</name>
        <label>ClearGoliveonCase</label>
        <locationX>662</locationX>
        <locationY>1566</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConsultantName__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ClearReturnsLiveDate</name>
        <label>ClearReturnsLiveDate</label>
        <locationX>485</locationX>
        <locationY>1035</locationY>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Certs_Live</name>
        <label>Update Certs Live Date</label>
        <locationX>734</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>Does_GL_have_returns</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
            <value>
                <elementReference>GL_CertsLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Calc_to_No</name>
        <label>Update Has Calc to No</label>
        <locationX>250</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_has_Certs_to_No</name>
        <label>Update has Certs to No</label>
        <locationX>249</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Does_GL_have_returns</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Returns_to_No</name>
        <label>Update Has Returns to No</label>
        <locationX>249</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasReturns__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_GoLive_Intel</name>
        <label>Update Primary GoLive Intel</label>
        <locationX>482</locationX>
        <locationY>1287</locationY>
        <connector>
            <targetReference>IsNewGoLiveOpen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
            <value>
                <elementReference>GL_New_ConnectorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ImplementationPath__c</field>
            <value>
                <elementReference>GL_ImplementationPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>GL_MigrationCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ProBasic__c</field>
            <value>
                <elementReference>GL_ProBasic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_Status__c</field>
            <value>
                <elementReference>GL_ImplementationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Returns_Live_Date</name>
        <label>Update Returns Live Date</label>
        <locationX>733</locationX>
        <locationY>1029</locationY>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
            <value>
                <elementReference>GL_ReturnsLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCalcLiveDate</name>
        <label>Update Calc Live Date</label>
        <locationX>731</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
            <value>
                <elementReference>GL_CalcLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomerIntelforNoGolives</name>
        <label>UpdateCustomerIntelforNoGolives</label>
        <locationX>22</locationX>
        <locationY>223</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>No Golives</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_CreatedDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ImplementationPath__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>AccountCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ProBasic__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PGL_Status__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookup_to_Closed</name>
        <label>UpdateGLLookup to Closed</label>
        <locationX>992</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>Closed Go-Live</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookupStatus</name>
        <label>UpdateGLLookupStatus to Open</label>
        <locationX>468</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>In Go-Live</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasCalctoYes</name>
        <label>UpdateHasCalctoYes</label>
        <locationX>482</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>CheckCalcLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasCertstoYes</name>
        <label>UpdateHasCertstoYes</label>
        <locationX>478</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>CheckCertsLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasReturns</name>
        <label>UpdateHasReturnsYes</label>
        <locationX>486</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>CheckReturnsLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasReturns__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookUpGoLives</startElementReference>
    <textTemplates>
        <name>FormattedGOLiveConsultantName</name>
        <text>GoLive Consultant: {!GL_ConsultantName}</text>
    </textTemplates>
    <variables>
        <name>AccountCreated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDforInteloriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CalcLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CertsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConnectorIDforCaseIntel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConsultantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_GoLiveConsultantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCalc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCerts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasReturns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_IDfromNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_MigrationCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_New_ConnectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ProBasic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ReturnsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectCollection_AllGoLives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>sObjectionCollection_OpenGolives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
</Flow>
