Prod/src/flows/GetCustomerIntelligence-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>GetCustomerIntelligence</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetConnectorNameforCustIntel</name>
        <label>GetConnectorNameforCustIntel</label>
        <locationX>402</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCustintelonCas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_ConnectorIDforCaseIntel</elementReference>
            </value>
        </filters>
        <object>Connector__c</object>
        <outputAssignments>
            <assignToReference>GL_New_ConnectorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetData_FindNewGolive</name>
        <label>GetData_FindNewGolive</label>
        <locationX>129</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01240000000UYZZAA4</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>GL_ConnectorIDforCaseIntel</assignToReference>
            <field>Connector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_IDfromNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCustintelonCas</name>
        <label>UpdateCustintelonCas</label>
        <locationX>415</locationX>
        <locationY>274</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
            <value>
                <elementReference>GL_New_ConnectorName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetData_FindNewGolive</startElementReference>
    <variables>
        <name>AccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDforInteloriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConnectorIDforCaseIntel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_IDfromNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_New_ConnectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
