Prod/src/flows/GetCustomerIntelligence-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckCalcLiveDate</name>
        <label>CheckCalcLiveDate</label>
        <locationX>709</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calc is Not Live</defaultConnectorLabel>
        <rules>
            <name>CalcLiveDateYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_CalcLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCalcLiveDate</targetReference>
            </connector>
            <label>Calc is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCertsLiveDate</name>
        <label>CheckCertsLiveDate</label>
        <locationX>707</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Does_GL_have_returns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Certs is not live</defaultConnectorLabel>
        <rules>
            <name>CertsLiveDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_CertsLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Certs_Live</targetReference>
            </connector>
            <label>Certs is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGLConnectorforNull</name>
        <label>CheckGLConnectorforNull</label>
        <locationX>252</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>Exit the GL Customer Flow</defaultConnectorLabel>
        <rules>
            <name>LookupConnector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_ConnectorIDforCaseIntel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_GL_have_Calc</targetReference>
            </connector>
            <label>Primary Go Live is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReturnsLiveDate</name>
        <label>CheckReturnsLiveDate</label>
        <locationX>723</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>UpdateCustintelonCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Returns is Not Live</defaultConnectorLabel>
        <rules>
            <name>ReturnsisLive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_ReturnsLiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Returns_Live_Date</targetReference>
            </connector>
            <label>Returns is Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_GL_have_returns</name>
        <label>Does GL have returns</label>
        <locationX>273</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Update_Has_Returns_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have returns</defaultConnectorLabel>
        <rules>
            <name>GL_Has_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasReturns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasReturns</targetReference>
            </connector>
            <label>Has Returns Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_GL_have_Calc</name>
        <label>Does the GL have Calc</label>
        <locationX>248</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Update_Has_Calc_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have calc</defaultConnectorLabel>
        <rules>
            <name>GL_has_calc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasCalc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasCalctoYes</targetReference>
            </connector>
            <label>Has Calc Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_GL_have_Certs</name>
        <label>Does the GL have Certs</label>
        <locationX>257</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Update_has_Certs_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GL does not have Certs</defaultConnectorLabel>
        <rules>
            <name>HasCertsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GL_HasCerts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHasCertstoYes</targetReference>
            </connector>
            <label>Has Certs Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotGolives</name>
        <label>GotGolives</label>
        <locationX>201</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateGLILookupStatus_to_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Does not have GoLives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_GoLives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectCollection_AllGoLives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookforOpenGolives</targetReference>
            </connector>
            <label>Account Has GoLives</label>
        </rules>
    </decisions>
    <decisions>
        <name>GotOpenGolives</name>
        <label>GotOpenGolives</label>
        <locationX>789</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>UpdateGLLookup_to_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Has Closed Go Lives</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Open_Go_Lives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectionCollection_OpenGolives</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGLLookupStatus</targetReference>
            </connector>
            <label>Account Has Open Go Lives</label>
        </rules>
    </decisions>
    <label>GetCustomerIntelligence</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountCreatedDate</name>
        <label>GetAccountCreatedDate</label>
        <locationX>25</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePGLCreatedDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountCreated</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetConnectorNameforCustIntel</name>
        <label>GetConnectorNameforCustIntel</label>
        <locationX>488</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGLConnectorforNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GL_ConnectorIDforCaseIntel</elementReference>
            </value>
        </filters>
        <object>Connector__c</object>
        <outputAssignments>
            <assignToReference>GL_New_ConnectorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetData_FindNewGolive</name>
        <label>Find New Go Live Record</label>
        <locationX>800</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConnectorNameforCustIntel</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01240000000UYZUAA4</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>GL_CalcLiveDate</assignToReference>
            <field>Calc_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CertsLiveDate</assignToReference>
            <field>Certs_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ConnectorIDforCaseIntel</assignToReference>
            <field>Connector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCalc</assignToReference>
            <field>Has_Calc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasCerts</assignToReference>
            <field>Has_Certs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_HasReturns</assignToReference>
            <field>Has_Returns__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_IDfromNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationPath</assignToReference>
            <field>Implementation_Path__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ImplementationStatus</assignToReference>
            <field>Implementation_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_MigrationCreatedDate</assignToReference>
            <field>Migration_Created_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ProBasic</assignToReference>
            <field>Pro_Basic__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GL_ReturnsLiveDate</assignToReference>
            <field>Returns_Live_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookforOpenGolives</name>
        <label>LookforOpenGolives</label>
        <locationX>478</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotOpenGolives</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectionCollection_OpenGolives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpGoLives</name>
        <label>LookUpGoLives</label>
        <locationX>21</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GotGolives</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDfromCase</elementReference>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputReference>sObjectCollection_AllGoLives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Certs_Live</name>
        <label>Update Certs Live Date</label>
        <locationX>938</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>Does_GL_have_returns</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CertsLiveDate__c</field>
            <value>
                <elementReference>GL_CertsLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GL_Created_Date</name>
        <label>Update GL Created Date</label>
        <locationX>231</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>Update_GL_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>GL_MigrationCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GL_Status</name>
        <label>Update GL Status</label>
        <locationX>436</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>Update_Pro_Basic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_Status__c</field>
            <value>
                <elementReference>GL_ImplementationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Calc_to_No</name>
        <label>Update Has Calc to No</label>
        <locationX>34</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_has_Certs_to_No</name>
        <label>Update has Certs to No</label>
        <locationX>34</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Does_GL_have_returns</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Returns_to_No</name>
        <label>Update Has Returns to No</label>
        <locationX>13</locationX>
        <locationY>948</locationY>
        <connector>
            <targetReference>UpdateCustintelonCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasReturns__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Implemenation_Path</name>
        <label>Update Implemenation Path</label>
        <locationX>803</locationX>
        <locationY>1123</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ImplementationPath__c</field>
            <value>
                <elementReference>GL_ImplementationPath</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pro_Basic</name>
        <label>Update Pro Basic</label>
        <locationX>630</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>Update_Implemenation_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ProBasic__c</field>
            <value>
                <elementReference>GL_ProBasic</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Returns_Live_Date</name>
        <label>Update Returns Live Date</label>
        <locationX>966</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>UpdateCustintelonCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ReturnsLiveDate__c</field>
            <value>
                <elementReference>GL_ReturnsLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCalcLiveDate</name>
        <label>Update Calc Live Date</label>
        <locationX>945</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Does_the_GL_have_Certs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_CalcLiveDate__c</field>
            <value>
                <elementReference>GL_CalcLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustintelonCase</name>
        <label>Update Connector on Case</label>
        <locationX>10</locationX>
        <locationY>1122</locationY>
        <connector>
            <targetReference>Update_GL_Created_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_ConnectorName__c</field>
            <value>
                <elementReference>GL_New_ConnectorName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLILookupStatus_to_None</name>
        <label>UpdateGLILookupStatus to None</label>
        <locationX>26</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>GetAccountCreatedDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>Has No Golives</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookup_to_Closed</name>
        <label>UpdateGLLookup to Closed</label>
        <locationX>1057</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>Has Closed Golives</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGLLookupStatus</name>
        <label>UpdateGLLookupStatus to Open</label>
        <locationX>481</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>GetData_FindNewGolive</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_GLILookup__c</field>
            <value>
                <stringValue>Has Open Golives</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasCalctoYes</name>
        <label>UpdateHasCalctoYes</label>
        <locationX>494</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>CheckCalcLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCalc__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasCertstoYes</name>
        <label>UpdateHasCertstoYes</label>
        <locationX>497</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>CheckCertsLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasCerts__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHasReturns</name>
        <label>UpdateHasReturnsYes</label>
        <locationX>523</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>CheckReturnsLiveDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_HasReturns__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePGLCreatedDate</name>
        <label>UpdatePGLCreatedDate</label>
        <locationX>23</locationX>
        <locationY>331</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDforInteloriginal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PGL_MasterCreatedDate__c</field>
            <value>
                <elementReference>AccountCreated</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookUpGoLives</startElementReference>
    <variables>
        <name>AccountCreated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIDforInteloriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CalcLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CertsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ConnectorIDforCaseIntel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCalc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasCerts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_HasReturns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_IDfromNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ImplementationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_MigrationCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_New_ConnectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ProBasic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GL_ReturnsLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectCollection_AllGoLives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
    <variables>
        <name>sObjectionCollection_OpenGolives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GoLive_Implementation__c</objectType>
    </variables>
</Flow>
