Prod/src/flows/GetNextCase-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssigntoCurrentUser</name>
        <label>AssigntoCurrentUser</label>
        <locationX>495</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>TheNextCaseFound.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwner_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AnyAvailableCases</name>
        <label>AnyAvailableCases</label>
        <locationX>320</locationX>
        <locationY>22</locationY>
        <defaultConnectorLabel>NoCases</defaultConnectorLabel>
        <rules>
            <name>GotCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheNextCaseFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigntoCurrentUser</targetReference>
            </connector>
            <label>GotCases</label>
        </rules>
    </decisions>
    <interviewLabel>GetNextCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetNextCase</label>
    <loops>
        <name>GetNextOne</name>
        <label>GetNextOne</label>
        <locationX>118</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>TheNextCaseFound</assignNextValueToReference>
        <collectionReference>CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AnyAvailableCases</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_List_of_Unassigned_Cases</name>
        <label>Get List of Unassigned Cases</label>
        <locationX>113</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextOne</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G3000000159l5EAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting on Customer (Open)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Process - Waiting</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Case_Rank__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetCaseNumber</name>
        <label>GetCaseNumber</label>
        <locationX>707</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheNextCaseFound.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AssignedCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>500</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>GetCaseNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheNextCaseFound.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TheNextCaseFound.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>FinalScreen</name>
        <label>Assigned Case</label>
        <locationX>710</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowCaseNumber</name>
            <fieldText>Your Case Number is {!AssignedCaseNumber}

srcUp(&apos;https://na27.salesforce.com/{!TheNextCaseFound.Id}&apos;);</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_List_of_Unassigned_Cases</startElementReference>
    <variables>
        <name>AssignedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewOwner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TheNextCaseFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
