Prod/src/flows/GetNextCase-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssigntoCurrentUser</name>
        <label>AssigntoCurrentUser</label>
        <locationX>684</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TheNextCaseFound.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwner_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AnyAvailableCases</name>
        <label>AnyAvailableCases</label>
        <locationX>435</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>NoCases</defaultConnectorLabel>
        <rules>
            <name>GotCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheNextCaseFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigntoCurrentUser</targetReference>
            </connector>
            <label>GotCases</label>
        </rules>
    </decisions>
    <interviewLabel>GetNextCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetNextCase</label>
    <loops>
        <name>GetNextOne</name>
        <label>GetNextOne</label>
        <locationX>153</locationX>
        <locationY>243</locationY>
        <assignNextValueToReference>TheNextCaseFound</assignNextValueToReference>
        <collectionReference>CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AnyAvailableCases</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_List_of_Unassigned_Cases</name>
        <label>Get List of Unassigned Cases</label>
        <locationX>151</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextOne</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G3000000159l5EAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting on Customer (Open)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Process - Waiting</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Case_Rank__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Get_List_of_Unassigned_Cases</startElementReference>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewOwner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TheNextCaseFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
