Prod/src/flows/Identify_GoLive_related_to_this_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Found_Golive</name>
        <label>Did you find Golive?</label>
        <locationX>89</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Golive_to_Case</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Golive_on_Case_on_None_Found</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Golive_0</name>
        <label>Did you find Golive?</label>
        <locationX>907</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Golive_to_Case_0</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
        <rules>
            <name>Not_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Golive_on_Case_on_None_Found_1</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Golive_0_1</name>
        <label>Did you find Golive?</label>
        <locationX>356</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Golive_to_Case_0_1</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
        <rules>
            <name>Not_Found_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Golive_on_Case_on_None_Found_1_1</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Golive_0_1_1</name>
        <label>Did you find Golive?</label>
        <locationX>617</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Golive_to_Case_0_1_1</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
        <rules>
            <name>Not_Found_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoliveIDFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Golive_on_Case_on_None_Found_1_1_1</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Avalara_Product_on_case</name>
        <label>What is the Avalara Product on case?</label>
        <locationX>483</locationX>
        <locationY>10</locationY>
        <defaultConnector>
            <targetReference>Clear_Golive_on_Case_on_None_Found_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_CertCapture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAvalaraProductfromCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CertCapture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConnectorIDfromCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Golive_with_Certs</targetReference>
            </connector>
            <label>If CertCapture</label>
        </rules>
        <rules>
            <name>If_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAvalaraProductfromCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avatax Returns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConnectorIDfromCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Golive_with_Returns</targetReference>
            </connector>
            <label>If Returns</label>
        </rules>
        <rules>
            <name>If_AvaTax</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAvalaraProductfromCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avatax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConnectorIDfromCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Golive_with_AvaTax_on_Case</targetReference>
            </connector>
            <label>If AvaTax</label>
        </rules>
        <rules>
            <name>If_Connector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConnectorIDfromCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Golive_Same_Connector</targetReference>
            </connector>
            <label>If Connector</label>
        </rules>
    </decisions>
    <interviewLabel>Identify GoLive related to this Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identify GoLive related to this Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Golive_Same_Connector</name>
        <label>Find Golive Same Connector</label>
        <locationX>88</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Golive</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Connector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConnectorIDfromCase</elementReference>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>varFoundGLCalcLiveDate</assignToReference>
            <field>Calc_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoliveIDFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Golive_with_AvaTax_on_Case</name>
        <label>Find Golive with AvaTax on Case</label>
        <locationX>897</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Golive_0</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01240000000UYZUAA4</stringValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>varFoundGLCalcLiveDate</assignToReference>
            <field>Calc_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoliveIDFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Golive_with_Certs</name>
        <label>Find Golive with Certs</label>
        <locationX>360</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Golive_0_1</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Certs__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>varFoundGLCertsDate</assignToReference>
            <field>Certs_Live_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGoliveIDFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Golive_with_Returns</name>
        <label>Find Golive with Returns</label>
        <locationX>609</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Golive_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIDfromCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Returns__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>varGoliveIDFound</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFoundGLReturnsDate</assignToReference>
            <field>Returns_Estimation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Golive_to_Case</name>
        <label>Associate Golive to Case</label>
        <locationX>12</locationX>
        <locationY>455</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>varGoliveIDFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
            <value>
                <elementReference>varFoundGLCalcLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Golive_to_Case_0</name>
        <label>Associate Golive to Case</label>
        <locationX>844</locationX>
        <locationY>461</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>varGoliveIDFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
            <value>
                <elementReference>varFoundGLCalcLiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Golive_to_Case_0_1</name>
        <label>Associate Golive to Case</label>
        <locationX>283</locationX>
        <locationY>458</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>varGoliveIDFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
            <value>
                <elementReference>varFoundGLCertsDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Golive_to_Case_0_1_1</name>
        <label>Associate Golive to Case</label>
        <locationX>557</locationX>
        <locationY>464</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <elementReference>varGoliveIDFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
            <value>
                <elementReference>varFoundGLReturnsDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Golive_on_Case_on_None_Found</name>
        <label>Clear Golive on Case on None Found</label>
        <locationX>151</locationX>
        <locationY>457</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Golive_on_Case_on_None_Found_0</name>
        <label>Clear Golive on Case on None Found</label>
        <locationX>782</locationX>
        <locationY>17</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Golive_on_Case_on_None_Found_1</name>
        <label>Clear Golive on Case on None Found</label>
        <locationX>1004</locationX>
        <locationY>463</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Golive_on_Case_on_None_Found_1_1</name>
        <label>Clear Golive on Case on None Found</label>
        <locationX>431</locationX>
        <locationY>461</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Golive_on_Case_on_None_Found_1_1_1</name>
        <label>Clear Golive on Case on None Found</label>
        <locationX>701</locationX>
        <locationY>465</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assoc_GoLiveImplementation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Live_Date__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>What_is_the_Avalara_Product_on_case</startElementReference>
    <variables>
        <name>varAccountIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAvalaraProductfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varConnectorIDfromCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundGLCalcLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundGLCertsDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundGLReturnsDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGoliveIDFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
