Prod/src/flows/Invoice_Collection_Process_Production_NoEmail-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Any_open_Finance_Case</name>
        <label>Any open Finance Cases?</label>
        <locationX>767</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>UpdateOpenFinanceCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Open Finance Cases</defaultConnectorLabel>
        <rules>
            <name>NoOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCollectionCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStartProcess</targetReference>
            </connector>
            <label>No Open AR/Collection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_open_Finance_Case_0</name>
        <label>Any open Finance Cases?</label>
        <locationX>249</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>UpdateOpenFinanceCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Open Finance Cases</defaultConnectorLabel>
        <rules>
            <name>NoOpen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCollectionCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCaseContact</targetReference>
            </connector>
            <label>No Open AR/Collection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance</name>
        <label>Check Balance</label>
        <locationX>491</locationX>
        <locationY>742</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Log_0_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_0</name>
        <label>Check Balance</label>
        <locationX>543</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_0</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCaseContact_1</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1</name>
        <label>Check Balance</label>
        <locationX>651</locationX>
        <locationY>740</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1</name>
        <label>Check Balance</label>
        <locationX>809</locationX>
        <locationY>741</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCAM</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1_1</name>
        <label>Check Balance</label>
        <locationX>953</locationX>
        <locationY>748</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Log_0_0_0_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1_1_1</name>
        <label>Check Balance</label>
        <locationX>1115</locationX>
        <locationY>741</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1_1_1_1</name>
        <label>Check Balance</label>
        <locationX>1261</locationX>
        <locationY>745</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Log_0_0_0_0_0_1</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1_1_1_1_1</name>
        <label>Check Balance</label>
        <locationX>1423</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1_1_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_1_1_1_1_1_1_1</name>
        <label>Check Balance</label>
        <locationX>1583</locationX>
        <locationY>747</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_1_1_1_1_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Log_0_0_0_0_0_1_1_1</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_2</name>
        <label>Check Balance</label>
        <locationX>41</locationX>
        <locationY>522</locationY>
        <defaultConnectorLabel>Stop Automation</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_2</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Finance_Cases_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Age</name>
        <label>Due Age?</label>
        <locationX>44</locationX>
        <locationY>7</locationY>
        <defaultConnector>
            <targetReference>CM02_Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Due Age greater than -30</defaultConnectorLabel>
        <rules>
            <name>Due_Age_less_than_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM01_Wait</targetReference>
            </connector>
            <label>Due Age less than or equal -30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check</name>
        <label>Exception Check</label>
        <locationX>493</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Check_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0</name>
        <label>Exception Check</label>
        <locationX>625</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1</name>
        <label>Exception Check</label>
        <locationX>659</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1</name>
        <label>Exception Check</label>
        <locationX>813</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1_1</name>
        <label>Exception Check</label>
        <locationX>961</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1_1_1</name>
        <label>Exception Check</label>
        <locationX>1117</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1_1_1_1</name>
        <label>Exception Check</label>
        <locationX>1263</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1_1_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1_1_1_1_1</name>
        <label>Exception Check</label>
        <locationX>1425</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1_1_1_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_1_1_1_1_1_1_1</name>
        <label>Exception Check</label>
        <locationX>1577</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_1_1_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_1_1_1_1_1_1_1</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_2</name>
        <label>Exception Check</label>
        <locationX>49</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_2</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundBillingContact</name>
        <label>FoundBillingContact</label>
        <locationX>169</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBillingContact</defaultConnectorLabel>
        <rules>
            <name>FoundBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundBillingContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundBillingContact_1</name>
        <label>FoundBillingContact</label>
        <locationX>974</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundBilling_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCollectionLog</targetReference>
            </connector>
            <label>FoundBillingContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundPrimaryContact_0</name>
        <label>FoundPrimaryContact</label>
        <locationX>47</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPrimary</defaultConnectorLabel>
        <rules>
            <name>Foundprimary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundPrimary</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundPrimaryContact_0_1</name>
        <label>FoundPrimaryContact</label>
        <locationX>1235</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Foundprimary_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCollectionLog</targetReference>
            </connector>
            <label>FoundPrimary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_1</name>
        <label>Invoice Balance?</label>
        <locationX>1099</locationX>
        <locationY>11</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Log_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotPaid_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Finance_Cases</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <description>6/18 version</description>
    <interviewLabel>Invoice Collection Process Production - NoEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Collection Process Production - NoEmail</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Assignment</name>
        <label>Create Invoice Assignment</label>
        <locationX>271</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedCase__c</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Invoice__c</field>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCAMTask</name>
        <label>CreateCAMTask</label>
        <locationX>807</locationX>
        <locationY>939</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCAMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>45 Day AR Suspension/Cancellation Notice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCollectionCase</name>
        <label>CreateCollectionCase</label>
        <locationX>272</locationX>
        <locationY>826</locationY>
        <assignRecordIdToReference>varCollectionCase</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Invoice_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varCollectionsCaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>varInvoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>ICP Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01233000000MImiAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindCAM</name>
        <label>FindCAM</label>
        <locationX>813</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCAMTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCAMID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact</name>
        <label>FindCaseContact</label>
        <locationX>49</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundBillingContact</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0</name>
        <label>FindCaseContact</label>
        <locationX>46</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundPrimaryContact_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0_0</name>
        <label>FindCaseContact</label>
        <locationX>48</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCollectionCase</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0_1</name>
        <label>FindCaseContact</label>
        <locationX>1238</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundPrimaryContact_0_1</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_1</name>
        <label>FindAccountContact</label>
        <locationX>772</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundBillingContact_1</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCMDates</name>
        <label>GetCMDates</label>
        <locationX>1240</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varCM01Wait</assignToReference>
            <field>CM01_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM02Wait</assignToReference>
            <field>CM02_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM03Wait</assignToReference>
            <field>CM03_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM04Wait</assignToReference>
            <field>CM04_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM05Wait</assignToReference>
            <field>CM05_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM06Wait</assignToReference>
            <field>CM06_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM07Wait</assignToReference>
            <field>CM07_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM08Wait</assignToReference>
            <field>CM08_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM09Wait</assignToReference>
            <field>CM09_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM10Wait</assignToReference>
            <field>CM10_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDueAge</assignToReference>
            <field>Due_Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceDueDate</assignToReference>
            <field>Due_Date_ICP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID_fromInv</assignToReference>
            <field>Zuora__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog</name>
        <label>GetCollectionLog</label>
        <locationX>657</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Collection_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_Finance_Cases</name>
        <label>Open Finance Cases?</label>
        <locationX>922</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_open_Finance_Case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>Finance_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G40000001RTyyEAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCollectionCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Open_Finance_Cases_0</name>
        <label>Open Finance Cases?</label>
        <locationX>250</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_open_Finance_Case_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>Finance_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G40000001RTyyEAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCollectionCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice</name>
        <label>Query Invoice</label>
        <locationX>495</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0</name>
        <label>Query Invoice</label>
        <locationX>655</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0</name>
        <label>Query Invoice</label>
        <locationX>810</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0_0</name>
        <label>Query Invoice</label>
        <locationX>961</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0_0_0</name>
        <label>Query Invoice</label>
        <locationX>1115</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0_0_0_0</name>
        <label>Query Invoice</label>
        <locationX>1261</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0_0_0_0_0</name>
        <label>Query Invoice</label>
        <locationX>1419</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0_0_0_0_0_0_0</name>
        <label>Query Invoice</label>
        <locationX>1573</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_1_1_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1</name>
        <label>Query Invoice</label>
        <locationX>44</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1</name>
        <label>Query Invoice</label>
        <locationX>408</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPStop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CollectionsQueue</name>
        <label>CollectionsQueue</label>
        <locationX>651</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0</name>
        <label>CollectionsQueue</label>
        <locationX>1121</locationX>
        <locationY>837</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0_0</name>
        <label>CollectionsQueue</label>
        <locationX>1421</locationX>
        <locationY>837</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log</name>
        <label>Update Collection Log</label>
        <locationX>488</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>CM02_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM01</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0</name>
        <label>Update Collection Log</label>
        <locationX>271</locationX>
        <locationY>1048</locationY>
        <connector>
            <targetReference>CM03_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM02</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0</name>
        <label>Update Collection Log</label>
        <locationX>488</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>CM04_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM03</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>657</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>CM05_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM04</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>956</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>CM07_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM06</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1119</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>CM08_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM07</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>805</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>CM06_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM05</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1</name>
        <label>Update Collection Log</label>
        <locationX>1262</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>CM09_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM08</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1</name>
        <label>Update Collection Log</label>
        <locationX>1422</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>CM10_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM09</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1_1</name>
        <label>Update Collection Log</label>
        <locationX>1583</locationX>
        <locationY>942</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM10</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_1</name>
        <label>Update Collection Log</label>
        <locationX>1105</locationX>
        <locationY>95</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>PaidonReceiptLog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Paid on Receipt</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpenFinanceCases</name>
        <label>UpdateOpenFinanceCases</label>
        <locationX>424</locationX>
        <locationY>54</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Open Finance Cases</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStartProcess</name>
        <label>UpdateStartProcess</label>
        <locationX>225</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Due_Age</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>ICP Started</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <startElementReference>GetCMDates</startElementReference>
    <textTemplates>
        <name>CaseSubject</name>
        <text>Collection Case for {!varInvoiceNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>CM01Log</name>
        <text>{!$Flow.CurrentDateTime}  CM01 DD -15 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM02Log</name>
        <text>{!$Flow.CurrentDateTime}  CM02 DD + 01 Day
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM03Log</name>
        <text>{!$Flow.CurrentDateTime}  CM03 DD +5 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM04Log</name>
        <text>{!$Flow.CurrentDateTime}  CM04 DD + 31 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM05Log</name>
        <text>{!$Flow.CurrentDateTime} CM05 DD + 45 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM06Log</name>
        <text>{!$Flow.CurrentDateTime} CM06 DD + 50 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM07Log</name>
        <text>{!$Flow.CurrentDateTime} CM07 DD + 61 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM08Log</name>
        <text>{!$Flow.CurrentDateTime} CM08 DD + 75 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM09Log</name>
        <text>{!$Flow.CurrentDateTime} CM09 DD + 91 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM10Log</name>
        <text>{!$Flow.CurrentDateTime} CM10 DD + 95 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>Description</name>
        <text>Collection Case due {!varInvoiceDueDate}</text>
    </textTemplates>
    <textTemplates>
        <name>PaidonReceiptLog</name>
        <text>{!$Flow.CurrentDateTime} Invoice Paid, ICP Stop</text>
    </textTemplates>
    <variables>
        <name>FoundCollectionCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountID_fromInv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCAMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM01Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM02Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM03Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM04Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM05Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM06Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM07Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM08Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM09Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM10Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionsCaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>varEmailforReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICPRisk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICPStop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceIDnative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecentCollectionLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>CM01_Wait</name>
        <label>CM01 Wait</label>
        <locationX>228</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM01_DD_15</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM01Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM01-DD-15</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM02_Wait</name>
        <label>CM02 Wait</label>
        <locationX>48</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM02_DD_01</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM02Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM02-DD01</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM03_Wait</name>
        <label>CM03 Wait</label>
        <locationX>487</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM03_DD_05</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM03Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM03-DD05</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM04_Wait</name>
        <label>CM04 Wait</label>
        <locationX>653</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM04DD31</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM04Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM04-DD31</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM05_Wait</name>
        <label>CM05 Wait</label>
        <locationX>812</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM05DD45</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM05Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM05-DD45</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM06_Wait</name>
        <label>CM06 Wait</label>
        <locationX>968</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM06_DD50</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM06Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM06-DD50</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM07_Wait</name>
        <label>CM07 Wait</label>
        <locationX>1123</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM07_DD61</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM07Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM07-DD61</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM08_Wait</name>
        <label>CM08 Wait</label>
        <locationX>1269</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM08_DD75</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM08Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM08-DD75</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM09_Wait</name>
        <label>CM09 Wait</label>
        <locationX>1418</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM09_DD91</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0_0_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM09Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM09-DD91</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM10_Wait</name>
        <label>CM10 Wait</label>
        <locationX>1573</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM10_DD95</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0_0_0_0_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM10Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM10-DD95</label>
        </waitEvents>
    </waits>
</Flow>
