Prod/src/flows/Invoice_Collection_Process_Production-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CM03_Reminder</name>
        <label>CM03 Reminder</label>
        <locationX>978</locationX>
        <locationY>1009</locationY>
        <actionName>Case.ICP_Alert_03</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM05Alert</name>
        <label>CM05Alert</label>
        <locationX>1296</locationX>
        <locationY>1223</locationY>
        <actionName>Case.ICP_Alert_05</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM06_Alert</name>
        <label>CM06 Alert</label>
        <locationX>1453</locationX>
        <locationY>1020</locationY>
        <actionName>Case.ICP_Alert_06</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM08_Alert</name>
        <label>CM08 Alert</label>
        <locationX>1750</locationX>
        <locationY>1026</locationY>
        <actionName>Case.ICP_Alert_08</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM10_Alert</name>
        <label>CM10 Alert</label>
        <locationX>2068</locationX>
        <locationY>1029</locationY>
        <actionName>Case.ICP_Alert_10</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1_1_1</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ICP_Alert_Contact</name>
        <label>ICP Alert Contact</label>
        <locationX>7</locationX>
        <locationY>1322</locationY>
        <actionName>Contact.ICP_Alert_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetCollectionLog</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionsCaseContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Any_open_Finance_Case</name>
        <label>Any open Finance Cases?</label>
        <locationX>694</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>UpdateOpenFinanceCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Open Finance Cases</defaultConnectorLabel>
        <rules>
            <name>NoOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCollectionCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStartProcess</targetReference>
            </connector>
            <label>No Open AR/Collection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_open_Finance_Case_0</name>
        <label>Any open Finance Cases?</label>
        <locationX>466</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>UpdateOpenFinanceCases_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Open Finance Cases</defaultConnectorLabel>
        <rules>
            <name>NoOpen_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCollectionCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCaseContact</targetReference>
            </connector>
            <label>No Open AR/Collection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance</name>
        <label>Check Balance</label>
        <locationX>977</locationX>
        <locationY>848</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM03_Reminder</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3</name>
        <label>Check Balance</label>
        <locationX>1141</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3</name>
        <label>Check Balance</label>
        <locationX>1298</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCAM</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3_3</name>
        <label>Check Balance</label>
        <locationX>1456</locationX>
        <locationY>849</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM06_Alert</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3_3_3</name>
        <label>Check Balance</label>
        <locationX>1608</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3_3_3_3</name>
        <label>Check Balance</label>
        <locationX>1753</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3_3_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM08_Alert</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3_3_3_3_3</name>
        <label>Check Balance</label>
        <locationX>1908</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3_3_3_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_3_3_3_3_3_3_3</name>
        <label>Check Balance</label>
        <locationX>2071</locationX>
        <locationY>846</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_3_3_3_3_3_3_3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM10_Alert</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_4</name>
        <label>Check Balance</label>
        <locationX>466</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_4</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Finance_Cases_0</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_4_4</name>
        <label>Check Balance</label>
        <locationX>15</locationX>
        <locationY>858</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Keep_Going_0_1_1_4_4</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCaseContact_1</targetReference>
            </connector>
            <label>Keep Going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Age</name>
        <label>Due Age?</label>
        <locationX>233</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>CM02_Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Due Age greater than -30</defaultConnectorLabel>
        <rules>
            <name>Due_Age_less_than_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM01_Wait</targetReference>
            </connector>
            <label>Due Age less than or equal -30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check</name>
        <label>Exception Check</label>
        <locationX>976</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Check_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0</name>
        <label>Exception Check</label>
        <locationX>1138</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0</name>
        <label>Exception Check</label>
        <locationX>1295</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0</name>
        <label>Exception Check</label>
        <locationX>1609</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>1759</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3_3_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>1913</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3_3_3_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>2074</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3_3_3_3_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>1459</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_3_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>468</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exception_Check_0_0_0_0_0_0_0_0_0</name>
        <label>Exception Check</label>
        <locationX>16</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>Check_Balance_4_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Automation_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varICPstop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Function - Remove Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varICPRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial - No Email</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundBillingContact</name>
        <label>FoundBillingContact</label>
        <locationX>631</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBillingContact</defaultConnectorLabel>
        <rules>
            <name>FoundBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundBillingContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundBillingContact_1</name>
        <label>FoundBillingContact</label>
        <locationX>5</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBilingContact</defaultConnectorLabel>
        <rules>
            <name>FoundBilling_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICP_Alert_Contact</targetReference>
            </connector>
            <label>FoundBillingContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundPrimaryContact_0</name>
        <label>FoundPrimaryContact</label>
        <locationX>637</locationX>
        <locationY>1126</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPrimary</defaultConnectorLabel>
        <rules>
            <name>Foundprimary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundPrimary</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundPrimaryContact_0_1</name>
        <label>FoundPrimaryContact</label>
        <locationX>159</locationX>
        <locationY>1125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Foundprimary_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICP_Alert_Contact</targetReference>
            </connector>
            <label>FoundPrimary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_1</name>
        <label>Check Invoice Balance?</label>
        <locationX>1057</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Log_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Finance_Cases</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <description>Dec Version b</description>
    <interviewLabel>Invoice Collection Process Production {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Collection Process Production</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Assignment</name>
        <label>Create Invoice Assignment</label>
        <locationX>808</locationX>
        <locationY>1129</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedCase__c</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Invoice__c</field>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCAMTask</name>
        <label>CreateCAMTask</label>
        <locationX>1296</locationX>
        <locationY>1132</locationY>
        <connector>
            <targetReference>CM05Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCAMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>45 Day AR Suspension/Cancellation Notice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCollectionCase</name>
        <label>CreateCollectionCase</label>
        <locationX>808</locationX>
        <locationY>875</locationY>
        <assignRecordIdToReference>varCollectionCase</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Invoice_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varCollectionsCaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>varInvoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>ICP Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01233000000MImiAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindCAM</name>
        <label>FindCAM</label>
        <locationX>1306</locationX>
        <locationY>1017</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCAMTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCAMID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact</name>
        <label>FindCaseContact</label>
        <locationX>631</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundBillingContact</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0</name>
        <label>FindCaseContact</label>
        <locationX>637</locationX>
        <locationY>1004</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundPrimaryContact_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0_0</name>
        <label>FindCaseContact</label>
        <locationX>637</locationX>
        <locationY>1326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCollectionCase</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0_1</name>
        <label>FindCaseContact</label>
        <locationX>183</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundPrimaryContact_0_1</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_1</name>
        <label>FindAccountContact</label>
        <locationX>11</locationX>
        <locationY>985</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundBillingContact_1</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCMDates</name>
        <label>Get Dates and Vars</label>
        <locationX>1063</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varCM01Wait</assignToReference>
            <field>CM01_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM02Wait</assignToReference>
            <field>CM02_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM03Wait</assignToReference>
            <field>CM03_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM04Wait</assignToReference>
            <field>CM04_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM05Wait</assignToReference>
            <field>CM05_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM06Wait</assignToReference>
            <field>CM06_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM07Wait</assignToReference>
            <field>CM07_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM08Wait</assignToReference>
            <field>CM08_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM09Wait</assignToReference>
            <field>CM09_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM10Wait</assignToReference>
            <field>CM10_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDueAge</assignToReference>
            <field>Due_Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceDueDate</assignToReference>
            <field>Due_Date_ICP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID_fromInv</assignToReference>
            <field>Zuora__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog</name>
        <label>GetCollectionLog</label>
        <locationX>300</locationX>
        <locationY>1318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Collection_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_Finance_Cases</name>
        <label>Open Finance Cases?</label>
        <locationX>693</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_open_Finance_Case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>Finance_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G40000001RTyyEAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCollectionCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Open_Finance_Cases_0</name>
        <label>Open Finance Cases?</label>
        <locationX>463</locationX>
        <locationY>1005</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_open_Finance_Case_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>Finance_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G40000001RTyyEAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCollectionCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice</name>
        <label>Query Invoice</label>
        <locationX>983</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_0</name>
        <label>Query Invoice</label>
        <locationX>1139</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1</name>
        <label>Query Invoice</label>
        <locationX>1295</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1</name>
        <label>Query Invoice</label>
        <locationX>1455</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1_1</name>
        <label>Query Invoice</label>
        <locationX>1608</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1_1_1</name>
        <label>Query Invoice</label>
        <locationX>1757</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1_1_1_1</name>
        <label>Query Invoice</label>
        <locationX>1907</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_1_1_1_1_1_1</name>
        <label>Query Invoice</label>
        <locationX>2071</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_2</name>
        <label>Query Invoice</label>
        <locationX>461</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Invoice_2_0</name>
        <label>Query Invoice</label>
        <locationX>14</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception_Check_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varICPRisk</assignToReference>
            <field>ICP_Risk__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPstop</assignToReference>
            <field>ICP_Stop__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CollectionsQueue</name>
        <label>CollectionsQueue</label>
        <locationX>1144</locationX>
        <locationY>1009</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0</name>
        <label>CollectionsQueue</label>
        <locationX>1605</locationX>
        <locationY>1024</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0_0</name>
        <label>CollectionsQueue</label>
        <locationX>1904</locationX>
        <locationY>1026</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G33000002JNMQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log</name>
        <label>Update Collection Log</label>
        <locationX>316</locationX>
        <locationY>1126</locationY>
        <connector>
            <targetReference>CM02_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM01</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0</name>
        <label>Update Collection Log</label>
        <locationX>803</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>CM03_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM02</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0</name>
        <label>Update Collection Log</label>
        <locationX>976</locationX>
        <locationY>1122</locationY>
        <connector>
            <targetReference>CM04_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM03</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1141</locationX>
        <locationY>1126</locationY>
        <connector>
            <targetReference>CM05_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM04</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1452</locationX>
        <locationY>1135</locationY>
        <connector>
            <targetReference>CM07_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM06</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1603</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>CM08_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM07</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1296</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>CM06_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM05</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1</name>
        <label>Update Collection Log</label>
        <locationX>1749</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>CM09_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM08</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1</name>
        <label>Update Collection Log</label>
        <locationX>1908</locationX>
        <locationY>1135</locationY>
        <connector>
            <targetReference>CM10_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM09</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1_1</name>
        <label>Update Collection Log</label>
        <locationX>2074</locationX>
        <locationY>1132</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM10</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_1</name>
        <label>Update Collection Log</label>
        <locationX>1430</locationX>
        <locationY>189</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>PaidonReceiptLog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Paid on Receipt</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpenFinanceCases</name>
        <label>UpdateOpenFinanceCases</label>
        <locationX>1049</locationX>
        <locationY>332</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Open Finance Cases</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpenFinanceCases_0</name>
        <label>UpdateOpenFinanceCases</label>
        <locationX>466</locationX>
        <locationY>1331</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Open Finance Cases</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStartProcess</name>
        <label>Start ICP</label>
        <locationX>384</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Due_Age</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>ICP Started</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <startElementReference>GetCMDates</startElementReference>
    <textTemplates>
        <name>CaseSubject</name>
        <text>Collection Case for {!varInvoiceNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>CM01Log</name>
        <text>{!$Flow.CurrentDateTime}  CM01 DD -15 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM02Log</name>
        <text>{!$Flow.CurrentDateTime}  CM02 DD + 01 Day
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM03Log</name>
        <text>{!$Flow.CurrentDateTime}  CM03 DD +5 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM04Log</name>
        <text>{!$Flow.CurrentDateTime}  CM04 DD + 31 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM05Log</name>
        <text>{!$Flow.CurrentDateTime} CM05 DD + 45 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM06Log</name>
        <text>{!$Flow.CurrentDateTime} CM06 DD + 50 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM07Log</name>
        <text>{!$Flow.CurrentDateTime} CM07 DD + 61 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM08Log</name>
        <text>{!$Flow.CurrentDateTime} CM08 DD + 75 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM09Log</name>
        <text>{!$Flow.CurrentDateTime} CM09 DD + 91 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM10Log</name>
        <text>{!$Flow.CurrentDateTime} CM10 DD + 95 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>Description</name>
        <text>Collection Case due {!varInvoiceDueDate}</text>
    </textTemplates>
    <textTemplates>
        <name>PaidonReceiptLog</name>
        <text>{!$Flow.CurrentDateTime} Invoice Paid, ICP Stop</text>
    </textTemplates>
    <variables>
        <name>FoundCollectionCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountID_fromInv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCAMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM01Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM02Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM03Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM04Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM05Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM06Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM07Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM08Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM09Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM10Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionsCaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>varEmailforReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICPRisk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICPstop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceIDnative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecentCollectionLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>CM01_Wait</name>
        <label>CM01 Wait</label>
        <locationX>21</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM01_DD_15</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_2_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM01Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM01-DD-15</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM02_Wait</name>
        <label>CM02 Wait</label>
        <locationX>461</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM02_DD_01</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_2</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM02Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM02-DD01</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM03_Wait</name>
        <label>CM03 Wait</label>
        <locationX>982</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM03_DD_05</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM03Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM03-DD05</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM04_Wait</name>
        <label>CM04 Wait</label>
        <locationX>1141</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM04DD31</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM04Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM04-DD31</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM05_Wait</name>
        <label>CM05 Wait</label>
        <locationX>1306</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM05DD45</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM05Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM05-DD45</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM06_Wait</name>
        <label>CM06 Wait</label>
        <locationX>1462</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM06_DD50</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM06Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM06-DD50</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM07_Wait</name>
        <label>CM07 Wait</label>
        <locationX>1617</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM07_DD61</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM07Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM07-DD61</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM08_Wait</name>
        <label>CM08 Wait</label>
        <locationX>1763</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM08_DD75</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM08Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM08-DD75</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM09_Wait</name>
        <label>CM09 Wait</label>
        <locationX>1912</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM09_DD91</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM09Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM09-DD91</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM10_Wait</name>
        <label>CM10 Wait</label>
        <locationX>2067</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM10_DD95</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Query_Invoice_1_1_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM10Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM10-DD95</label>
        </waitEvents>
    </waits>
</Flow>
