Prod/src/flows/Invoice_Collection_Process_Flow_v2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CM03_Reminder</name>
        <label>CM03 Reminder</label>
        <locationX>472</locationX>
        <locationY>698</locationY>
        <actionName>Case.ICP_Alert_03</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM06_Alert</name>
        <label>CM06 Alert</label>
        <locationX>945</locationX>
        <locationY>708</locationY>
        <actionName>Case.ICP_Alert_06</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM08_Alert</name>
        <label>CM08 Alert</label>
        <locationX>1251</locationX>
        <locationY>704</locationY>
        <actionName>Case.ICP_Alert_08</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CM10_Alert</name>
        <label>CM10 Alert</label>
        <locationX>1568</locationX>
        <locationY>704</locationY>
        <actionName>Case.ICP_Alert_10</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1_1_1</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>449</locationX>
        <locationY>141</locationY>
        <actionName>Zuora__ZInvoice__c.ICP_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetCollectionLog</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Any_open_Finance_Case</name>
        <label>Any open Finance Cases?</label>
        <locationX>638</locationX>
        <locationY>1</locationY>
        <defaultConnector>
            <targetReference>UpdateOpenFinanceCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Open Finance Cases</defaultConnectorLabel>
        <rules>
            <name>NoOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundCollectionCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStartProcess</targetReference>
            </connector>
            <label>No Open AR/Collection Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Age</name>
        <label>Due Age?</label>
        <locationX>50</locationX>
        <locationY>7</locationY>
        <defaultConnector>
            <targetReference>CM02_Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Due Age greater than -30</defaultConnectorLabel>
        <rules>
            <name>Due_Age_less_than_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDueAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM01_Wait</targetReference>
            </connector>
            <label>Due Age less than or equal -30</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundBillingContact</name>
        <label>FoundBillingContact</label>
        <locationX>55</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>FindCaseContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBillingContact</defaultConnectorLabel>
        <rules>
            <name>FoundBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundBilling</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundPrimaryContact_0</name>
        <label>FoundPrimaryContact</label>
        <locationX>46</locationX>
        <locationY>1052</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Foundprimary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollectionsCaseContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCollectionCase</targetReference>
            </connector>
            <label>FoundPrimary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance</name>
        <label>Invoice Balance?</label>
        <locationX>49</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCaseContact</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0</name>
        <label>Invoice Balance?</label>
        <locationX>474</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM03_Reminder</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0</name>
        <label>Invoice Balance?</label>
        <locationX>636</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1</name>
        <label>Invoice Balance?</label>
        <locationX>788</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCAM</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1_1</name>
        <label>Invoice Balance?</label>
        <locationX>947</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM06_Alert</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1_1_1</name>
        <label>Invoice Balance?</label>
        <locationX>1106</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1_1_1_1</name>
        <label>Invoice Balance?</label>
        <locationX>1255</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM08_Alert</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1_1_1_1_1</name>
        <label>Invoice Balance?</label>
        <locationX>1408</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionsQueue_0_0</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Balance_0_0_1_1_1_1_1_1</name>
        <label>Invoice Balance?</label>
        <locationX>1570</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Paid</defaultConnectorLabel>
        <rules>
            <name>NotPaid_0_0_1_1_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM10_Alert</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <interviewLabel>Invoice Collection Process Flow v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Collection Process Flow v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Assignment</name>
        <label>Create Invoice Assignment</label>
        <locationX>159</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedCase__c</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Invoice__c</field>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCAMTask</name>
        <label>CreateCAMTask</label>
        <locationX>788</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCAMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>45 Day AR Suspension/Cancellation Notice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCollectionCase</name>
        <label>CreateCollectionCase</label>
        <locationX>50</locationX>
        <locationY>864</locationY>
        <assignRecordIdToReference>varCollectionCase</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Invoice_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varCollectionsCaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Collection Case for {!varInvoiceID} due {!varInvoiceDueDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>varInvoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Collection Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G19000000L3qT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01233000000MImiAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Collection Case for {!varInvoiceID}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindCAM</name>
        <label>FindCAM</label>
        <locationX>791</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCAMTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCAMID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact</name>
        <label>FindCaseContact</label>
        <locationX>57</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundBillingContact</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCaseContact_0</name>
        <label>FindCaseContact</label>
        <locationX>257</locationX>
        <locationY>862</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundPrimaryContact_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCollectionsCaseContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCMDates</name>
        <label>GetCMDates</label>
        <locationX>1056</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Finance_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varCM01Wait</assignToReference>
            <field>CM01_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM02Wait</assignToReference>
            <field>CM02_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM03Wait</assignToReference>
            <field>CM03_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM04Wait</assignToReference>
            <field>CM04_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM05Wait</assignToReference>
            <field>CM05_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM06Wait</assignToReference>
            <field>CM06_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM07Wait</assignToReference>
            <field>CM07_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM08Wait</assignToReference>
            <field>CM08_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM09Wait</assignToReference>
            <field>CM09_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCM10Wait</assignToReference>
            <field>CM10_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDueAge</assignToReference>
            <field>Day_Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog</name>
        <label>GetCollectionLog</label>
        <locationX>628</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Collection_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0</name>
        <label>GetCollectionLog</label>
        <locationX>51</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0</name>
        <label>GetCollectionLog</label>
        <locationX>480</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0</name>
        <label>GetCollectionLog</label>
        <locationX>639</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1</name>
        <label>GetCollectionLog</label>
        <locationX>793</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1_1</name>
        <label>GetCollectionLog</label>
        <locationX>950</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1_1_1</name>
        <label>GetCollectionLog</label>
        <locationX>1107</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1_1_1_1</name>
        <label>GetCollectionLog</label>
        <locationX>1261</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1_1_1_1_1</name>
        <label>GetCollectionLog</label>
        <locationX>1413</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCollectionLog_0_0_0_1_1_1_1_1_1</name>
        <label>GetCollectionLog</label>
        <locationX>1565</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0_0_1_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>varRecentCollectionLog</assignToReference>
            <field>Collection_Process_Log__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoiceBalance</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_Finance_Cases</name>
        <label>Open Finance Cases?</label>
        <locationX>851</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_open_Finance_Case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID_fromInv</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01233000000MImiAAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCollectionCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CollectionsQueue</name>
        <label>CollectionsQueue</label>
        <locationX>637</locationX>
        <locationY>703</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G19000000L3qT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0</name>
        <label>CollectionsQueue</label>
        <locationX>1102</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G19000000L3qT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CollectionsQueue_0_0</name>
        <label>CollectionsQueue</label>
        <locationX>1409</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Update_Collection_Log_0_0_0_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCollectionCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G19000000L3qT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log</name>
        <label>Update Collection Log</label>
        <locationX>845</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>CM02_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM01Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM01</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0</name>
        <label>Update Collection Log</label>
        <locationX>259</locationX>
        <locationY>1050</locationY>
        <connector>
            <targetReference>CM03_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM02Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM02</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0</name>
        <label>Update Collection Log</label>
        <locationX>471</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>CM04_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM03Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM03</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>636</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>CM05_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM04Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM04</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>941</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>CM07_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM06Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM06</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>1104</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>CM08_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM07Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM07</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_0</name>
        <label>Update Collection Log</label>
        <locationX>786</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>CM06_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM05Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM05</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1</name>
        <label>Update Collection Log</label>
        <locationX>1250</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>CM09_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM08Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM08</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1</name>
        <label>Update Collection Log</label>
        <locationX>1410</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>CM10_Wait</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM09Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM09</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Log_0_0_0_0_0_1_1_1</name>
        <label>Update Collection Log</label>
        <locationX>1568</locationX>
        <locationY>835</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Process_Log__c</field>
            <value>
                <elementReference>CM10Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>CM10</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpenFinanceCases</name>
        <label>UpdateOpenFinanceCases</label>
        <locationX>353</locationX>
        <locationY>67</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>Open Finance Cases</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStartProcess</name>
        <label>UpdateStartProcess</label>
        <locationX>225</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Due_Age</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceIDnative</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ICP_Status__c</field>
            <value>
                <stringValue>ICP Started</stringValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <startElementReference>GetCMDates</startElementReference>
    <textTemplates>
        <name>CaseSubject</name>
        <text>Collection Case for {!varInvoiceNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>CM01Log</name>
        <text>{!$Flow.CurrentDateTime}  CM01 DD -15 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM02Log</name>
        <text>{!$Flow.CurrentDateTime}  CM02 DD + 01 Day
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM03Log</name>
        <text>{!$Flow.CurrentDateTime}  CM03 DD +5 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM04Log</name>
        <text>{!$Flow.CurrentDateTime}  CM04 DD + 31 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM05Log</name>
        <text>{!$Flow.CurrentDateTime} CM05 DD + 45 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM06Log</name>
        <text>{!$Flow.CurrentDateTime} CM06 DD + 50 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM07Log</name>
        <text>{!$Flow.CurrentDateTime} CM07 DD + 61 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM08Log</name>
        <text>{!$Flow.CurrentDateTime} CM08 DD + 75 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM09Log</name>
        <text>{!$Flow.CurrentDateTime} CM09 DD + 91 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>CM10Log</name>
        <text>{!$Flow.CurrentDateTime} CM10 DD + 95 Days
{!varRecentCollectionLog}</text>
    </textTemplates>
    <textTemplates>
        <name>Description</name>
        <text>Collection Case for {!varInvoiceNumber} due {!varInvoiceDueDate}</text>
    </textTemplates>
    <variables>
        <name>FoundCollectionCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountID_fromInv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCAMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM01Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM02Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM03Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM04Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM05Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM06Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM07Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM08Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM09Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCM10Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollectionsCaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>varInvoiceBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceIDnative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecentCollectionLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>CM01_Wait</name>
        <label>CM01 Wait</label>
        <locationX>215</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM01_DD_15</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Reminder</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM01Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM01-DD-15</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM02_Wait</name>
        <label>CM02 Wait</label>
        <locationX>48</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM02_DD_01</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM02Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM02-DD01</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM03_Wait</name>
        <label>CM03 Wait</label>
        <locationX>472</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM03_DD_05</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM03Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM03-DD05</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM04_Wait</name>
        <label>CM04 Wait</label>
        <locationX>638</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM04DD31</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM04Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM04-DD31</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM05_Wait</name>
        <label>CM05 Wait</label>
        <locationX>797</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM05DD45</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM05Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM05-DD45</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM06_Wait</name>
        <label>CM06 Wait</label>
        <locationX>953</locationX>
        <locationY>248</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM06_DD50</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM06Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM06-DD50</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM07_Wait</name>
        <label>CM07 Wait</label>
        <locationX>1108</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM07_DD61</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM07Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM07-DD61</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM08_Wait</name>
        <label>CM08 Wait</label>
        <locationX>1257</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM08_DD75</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM08Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM08-DD75</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM09_Wait</name>
        <label>CM09 Wait</label>
        <locationX>1406</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM09_DD91</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM09Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM09-DD91</label>
        </waitEvents>
    </waits>
    <waits>
        <name>CM10_Wait</name>
        <label>CM10 Wait</label>
        <locationX>1561</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>CM10_DD95</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCollectionLog_0_0_0_1_1_1_1_1_1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>varCM10Wait</elementReference>
                </value>
            </inputParameters>
            <label>CM10-DD95</label>
        </waitEvents>
    </waits>
</Flow>
