Prod/src/flows/PBP_Event_Campaign_Creator-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Campaign_to_New_Collection</name>
        <label>Add Campaign to New Collection</label>
        <locationX>722</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>sobcNewCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobvarNewCampaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPBPEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNametoCampaign</name>
        <label>AssignNametoCampaign</label>
        <locationX>711</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>Campaignname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDMcampaignname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewCampaignAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewCampaignAssignment</name>
        <label>NewCampaignAssignment</label>
        <locationX>944</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaignname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Event_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignRecordtypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.CampaignGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConCampaignGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.PBP_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.PBP_Event_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Event_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCampaignstatusPlanned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.CDM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.CDM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.PartnerAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.List_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.List_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.CampaignMarketingManager2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Marketing_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.Num_Expected_Opportunities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Expected_Opps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobvarNewCampaign.Lead_Goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobvarPBPEvent.Expected_Leads__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaign_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CampaignRecordtypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01240000000UQxw</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConCampaignGroup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner / CDM</stringValue>
        </value>
    </constants>
    <constants>
        <name>VarCampaignstatusPlanned</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_PBP_Event_ID</name>
        <label>Check for PBP Event ID</label>
        <locationX>708</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPBPEventID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Campaign_on_PBP_Event</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
        <rules>
            <name>Exit_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPBPEventID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit Loop</label>
        </rules>
    </decisions>
    <description>New inactive version to remove campaign subtype. Creates New Campaigns for PBP Events tied to a PBP Marketing Plan
Added Marketing Manager Lookup</description>
    <interviewLabel>PBP Event Campaign Creator 2 v12 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PBP Event Campaign Creator 2 v12</label>
    <loops>
        <name>LoopPBPEvents</name>
        <label>LoopPBPEvents</label>
        <locationX>423</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>sobvarPBPEvent</assignNextValueToReference>
        <collectionReference>sobcPBPEvents</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNametoCampaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FastCreateCampaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>FastCreateCampaign</name>
        <label>FastCreateCampaign</label>
        <locationX>427</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Lookup_Campaign_ID</targetReference>
        </connector>
        <inputReference>sobcNewCampaigns</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Campaign_ID</name>
        <label>Lookup Campaign ID</label>
        <locationX>423</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_PBP_Event_ID</targetReference>
        </connector>
        <filters>
            <field>PBP_Event_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PBP_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPBPEventID</assignToReference>
            <field>PBP_Event_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PBPEvents</name>
        <label>Lookup PBPEvents</label>
        <locationX>427</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPBPEvents</targetReference>
        </connector>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PBP_Sales_Marketing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPBPMarketingCampaign</elementReference>
            </value>
        </filters>
        <object>PBP_Event__c</object>
        <outputReference>sobcPBPEvents</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Event_Date__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>Event_Status__c</queriedFields>
        <queriedFields>PBP_Sales_Marketing_Plan__c</queriedFields>
        <queriedFields>Activity_Type__c</queriedFields>
        <queriedFields>CDM__c</queriedFields>
        <queriedFields>Partner_Account_Name_Text__c</queriedFields>
        <queriedFields>Partner_Account__c</queriedFields>
        <queriedFields>Campaign_Create_Name__c</queriedFields>
        <queriedFields>List_Size__c</queriedFields>
        <queriedFields>Event_Month_Year__c</queriedFields>
        <queriedFields>Marketing_Manager__c</queriedFields>
        <queriedFields>Event_Subtype__c</queriedFields>
        <queriedFields>CDM_Campaign_Name__c</queriedFields>
        <queriedFields>Expected_Leads__c</queriedFields>
        <queriedFields>Expected_Opps__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Campaign_Complete</name>
        <label>Stamp Campaign Complete</label>
        <locationX>426</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Lookup_Campaign_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PBP_Event_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Campaign_on_PBP_Event</name>
        <label>Stamp Campaign on PBP Event</label>
        <locationX>708</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Stamp_Campaign_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPBPEventID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>varCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Campaign__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PBP_Event__c</object>
    </recordUpdates>
    <startElementReference>Lookup_PBPEvents</startElementReference>
    <textTemplates>
        <name>CampaignNameTemplate</name>
        <text>{!sobvarPBPEvent.Partner_Account_Name_Text__c} - {!sobvarPBPEvent.Event_Type__c} - {!sobvarPBPEvent.Event_Month_Year__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CDMcampaignname</name>
        <text>{!sobvarPBPEvent.CDM_Campaign_Name__c} - {!sobvarPBPEvent.Partner_Account_Name_Text__c} {!sobvarPBPEvent.Event_Type__c}</text>
    </textTemplates>
    <variables>
        <name>Campaignname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobcNewCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>SobjectCollection - List of PBP Events</description>
        <name>sobcPBPEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBP_Event__c</objectType>
    </variables>
    <variables>
        <name>sobvarNewCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>sobvarPBPEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PBP_Event__c</objectType>
    </variables>
    <variables>
        <name>varCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPBPEventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the parent PBP marketing campaign id to pull the list of related PBP events</description>
        <name>varPBPMarketingCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
