Prod/src/flows/Populate_Connector_Lookup_on_Subscription_Product_Chage-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_Connector_Lookup</name>
        <label>Populate Connector Lookup</label>
        <locationX>543</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionProductChargeInstance.ConnectorLookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConnectorID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionProductChargeInstance.DSP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DSPID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription_Product_Charge</targetReference>
        </connector>
    </assignments>
    <description>Populates Connector and DSP Account lookups</description>
    <label>Populate Connector Lookup on Subscription Product Chage v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Instantiate_Subscription_Product_Charge</name>
        <label>Instantiate Subscription Product Charge</label>
        <locationX>545</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Connector_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionProductChargeID</elementReference>
            </value>
        </filters>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <outputReference>SubscriptionProductChargeInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConnectorLookup__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription_Product_Charge</name>
        <label>Update Subscription Product Charge</label>
        <locationX>544</locationX>
        <locationY>505</locationY>
        <inputReference>SubscriptionProductChargeInstance</inputReference>
    </recordUpdates>
    <startElementReference>Instantiate_Subscription_Product_Charge</startElementReference>
    <variables>
        <name>ConnectorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DSPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriptionProductChargeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubscriptionProductChargeInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Zuora__SubscriptionProductCharge__c</objectType>
    </variables>
</Flow>
