Prod/src/flows/PROS_Set_Service_Type_on_Opp_Product-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PRPCId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2c92a0fe59b55c3c0159b9572be7223c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is AT Implementation?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avalara Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PRPCId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2c92a0fe59b55c3c0159b9572be7223c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is Professional Services?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Is Managed Services?</label>
        </rules>
    </decisions>
    <description>Sets the value on the &apos;Service Type&apos; field on Opportunity Product records</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e49c015877f761a61e71&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fc5876e4ab015877f7845003aa&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5b811c35015b853b288840e3&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea8015877f7f713163d&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e49c015877f7663f1ee7&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fe5c208341015c37868c3f786f&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7673109f4&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fe5876eeb0015877f76b802c5a&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f76a90178c&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f76d3d17e6&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fc5b14c168015b166e14231d3e&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7ca400bec&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e49e015877f7b0f603a7&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea8015877f7d063151d&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e505015877f7cd3a19e2&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fc5876e4ab015877f7ea1605c4&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7e72f0ceb&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e49e015877f7f40d0568&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7ed2e0d2a&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea8015877f7fd041682&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fe5af9a6b9015b02dcac7a0f46&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7fa2c0d9e&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea8015877f7700713ba&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea6015877f7ca400bec&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e49e015877f7b0f603a7&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0ff5876eea8015877f7d063151d&quot;,
[OpportunityLineItem].PRPCId__c =&quot;2c92a0fd5876e505015877f7cd3a19e2&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e49c015877f761a61e71&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fc5876e4ab015877f7845003aa&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5b811c35015b853b288840e3&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea8015877f7f713163d&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e49c015877f7663f1ee7&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fe5c208341015c37868c3f786f&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7673109f4&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fe5876eeb0015877f76b802c5a&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f76a90178c&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f76d3d17e6&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fc5b14c168015b166e14231d3e&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7ca400bec&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e49e015877f7b0f603a7&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea8015877f7d063151d&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e505015877f7cd3a19e2&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fc5876e4ab015877f7ea1605c4&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7e72f0ceb&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e49e015877f7f40d0568&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7ed2e0d2a&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea8015877f7fd041682&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fe5af9a6b9015b02dcac7a0f46&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7fa2c0d9e&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea8015877f7700713ba&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea6015877f7ca400bec&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e49e015877f7b0f603a7&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0ff5876eea8015877f7d063151d&quot;,
{!myVariable_current.PRPCId__c} =&quot;2c92a0fd5876e505015877f7cd3a19e2&quot;)</expression>
    </formulas>
    <interviewLabel>PROS_Set_Service_Type_on_Opp_Product-3_InterviewLabel</interviewLabel>
    <label>(PROS) Set &apos;Service Type&apos; on Opp Product</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>OpportunityLineItem</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[OpportunityLineItem]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set &apos;Service Type&apos; to TAS</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ServiceType__c</field>
            <value>
                <stringValue>TAS</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[OpportunityLineItem]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Set &apos;Service  Type&apos; to PS</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ServiceType__c</field>
            <value>
                <stringValue>PS</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[OpportunityLineItem]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Set &apos;Service Type&apos; to MS</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ServiceType__c</field>
            <value>
                <stringValue>MS</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
