Prod/src/flows/Reselling_Connector_Opportunity_Assignment-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_there_a_Channel_Partner</name>
        <label>Is there a Channel Partner</label>
        <locationX>383</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRepID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_to_Reselling_Partner_Assigned_Rep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Auto assigns an opportunity if there is a channel partner on the account and if the associated connectors has been specifically assigned to a rep in the reselling connectors on that partner account record.</description>
    <interviewLabel>Reselling Connector Opportunity Assignement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reselling Connector Opportunity Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Channel_Partner_Reselling_Connector_Lookup</name>
        <label>Channel  Partner Reselling Connector Lookup</label>
        <locationX>383</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Channel_Partner</targetReference>
        </connector>
        <filters>
            <field>Assigned_Sales_Rep__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Connector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConnector</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reselling_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Reselling_Partner__c</object>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Assigned_Sales_Rep__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Opportunity_to_Reselling_Partner_Assigned_Rep</name>
        <label>Assign Opportunity to Reselling Partner Assigned Rep</label>
        <locationX>380</locationX>
        <locationY>427</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Channel_Partner_Reselling_Connector_Lookup</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varConnector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
