Prod/src/flows/ReturnsCancellation-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>April_Returns_due_May</name>
        <choiceText>April Returns due May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April Returns due May</stringValue>
        </value>
    </choices>
    <choices>
        <name>August_Returns_due_September</name>
        <choiceText>August Returns due September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August Returns due September</stringValue>
        </value>
    </choices>
    <choices>
        <name>AvaTax_Returns</name>
        <choiceText>AvaTax Returns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AvaTax Returns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company_Acquired_Restructured</name>
        <choiceText>Company Acquired / Restructured</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company Aquired / Restructured</stringValue>
        </value>
    </choices>
    <choices>
        <name>December_Returns_due_January</name>
        <choiceText>December Returns due January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December Returns due January</stringValue>
        </value>
    </choices>
    <choices>
        <name>February_Returns_due_March</name>
        <choiceText>February Returns due March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February Returns due March</stringValue>
        </value>
    </choices>
    <choices>
        <name>January_Returns_due_February</name>
        <choiceText>January Returns due February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January Returns due February</stringValue>
        </value>
    </choices>
    <choices>
        <name>July_Returns_due_August</name>
        <choiceText>July Returns due August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July Returns due August</stringValue>
        </value>
    </choices>
    <choices>
        <name>June_Returns_due_July</name>
        <choiceText>June Returns due July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June Returns due July</stringValue>
        </value>
    </choices>
    <choices>
        <name>March_Returns_due_April</name>
        <choiceText>March Returns due April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March Returns due April</stringValue>
        </value>
    </choices>
    <choices>
        <name>May_Returns_due_June</name>
        <choiceText>May Returns due June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May Returns due June</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>November_Returns_due_December</name>
        <choiceText>November Returns due December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November Returns due December</stringValue>
        </value>
    </choices>
    <choices>
        <name>October_Returns_due_November</name>
        <choiceText>October Returns due November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October Returns due November</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_Business</name>
        <choiceText>Out of Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLEASE_SELECT_CHOICE</name>
        <choiceText>- Please select month -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Please_select_Reason</name>
        <choiceText>- Please select reason -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Please_select_type</name>
        <choiceText>- Please select type -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Please_Select_Year</name>
        <choiceText>- Please select year -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>September_Returns_due_October</name>
        <choiceText>September Returns due October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September Returns due October</stringValue>
        </value>
    </choices>
    <choices>
        <name>SST</name>
        <choiceText>SST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SST</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2011</name>
        <choiceText>2011</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2011</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2012</name>
        <choiceText>2012</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2012</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2013</name>
        <choiceText>2013</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2013</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2014</name>
        <choiceText>2014</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2014</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2015</name>
        <choiceText>2015</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2015</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2016</name>
        <choiceText>2016</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2016</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <label>ReturnsCancellation v8</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateReturnsCancellation</name>
        <label>CreateReturnsCancellation</label>
        <locationX>199</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Displayfault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountCloseonBehalf__c</field>
            <value>
                <elementReference>Closeaccount_onbehalf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Name__c</field>
            <value>
                <elementReference>ActualCancelID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Type__c</field>
            <value>
                <elementReference>Cancellation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerComments__c</field>
            <value>
                <elementReference>CustomerComments_RS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalonBehalf__c</field>
            <value>
                <elementReference>File_On_Behalf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Filing_Month__c</field>
            <value>
                <elementReference>Last_Filing_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Filing_Year__c</field>
            <value>
                <elementReference>Last_Filing_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <elementReference>Reason_for_Cancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by_Name__c</field>
            <value>
                <elementReference>Requested_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_by_Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Returns_Cancellation__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountName</name>
        <label>GetAccountName</label>
        <locationX>422</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Your_Choices</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupCancellation</name>
        <label>LookupCancellation</label>
        <locationX>210</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountName</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancellationName</elementReference>
            </value>
        </filters>
        <object>Cancellation__c</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActualCancelID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCnclNamefrmLKup</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Displayfault</name>
        <label>Displayfault</label>
        <locationX>360</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Returns_Cancellation</name>
        <label>Returns Cancellation</label>
        <locationX>30</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupCancellation</targetReference>
        </connector>
        <fields>
            <name>CancellationName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarCancellationName</elementReference>
            </defaultValue>
            <fieldText>Cancellation ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_by</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varRequestedbyName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varTitle</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPhone</elementReference>
            </defaultValue>
            <fieldText>Phone #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cancellation_Type</name>
            <choiceReferences>Please_select_type</choiceReferences>
            <choiceReferences>AvaTax_Returns</choiceReferences>
            <choiceReferences>SST</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Cancellation</name>
            <choiceReferences>Please_select_Reason</choiceReferences>
            <choiceReferences>Company_Acquired_Restructured</choiceReferences>
            <choiceReferences>Out_of_Business</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormInstructions</name>
            <fieldText>Please use the fields below to inform Avalara how to handle your last filings.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Filing_Month</name>
            <choiceReferences>PLEASE_SELECT_CHOICE</choiceReferences>
            <choiceReferences>January_Returns_due_February</choiceReferences>
            <choiceReferences>February_Returns_due_March</choiceReferences>
            <choiceReferences>March_Returns_due_April</choiceReferences>
            <choiceReferences>April_Returns_due_May</choiceReferences>
            <choiceReferences>May_Returns_due_June</choiceReferences>
            <choiceReferences>June_Returns_due_July</choiceReferences>
            <choiceReferences>July_Returns_due_August</choiceReferences>
            <choiceReferences>August_Returns_due_September</choiceReferences>
            <choiceReferences>September_Returns_due_October</choiceReferences>
            <choiceReferences>October_Returns_due_November</choiceReferences>
            <choiceReferences>November_Returns_due_December</choiceReferences>
            <choiceReferences>December_Returns_due_January</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Last Filing Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Filing_Year</name>
            <choiceReferences>Please_Select_Year</choiceReferences>
            <choiceReferences>X2016</choiceReferences>
            <choiceReferences>X2015</choiceReferences>
            <choiceReferences>X2014</choiceReferences>
            <choiceReferences>X2013</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Last Filing Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_On_Behalf</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like Avalara to mark the returns &quot;Final&quot; on your behalf to indicate your business has been closed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blankspace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Closeaccount_onbehalf</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want Avalara to close out the accounts on your behalf?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CloseoutServiceFee</name>
            <fieldText>* The account close out service is offered by our Professional Services Group for an additional fee to cancel the accounts on your behalf *</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerComments_RS</name>
            <defaultValue>
                <elementReference>CustomerComments</elementReference>
            </defaultValue>
            <fieldText>CustomerComments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>141</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Saved</name>
            <fieldText>Your information has been saved.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Your_Choices</name>
        <label>Your Choices</label>
        <locationX>463</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateReturnsCancellation</targetReference>
        </connector>
        <fields>
            <name>Displaychioices</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Returns cancellation is being processed for {!varAccountName}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancellation ID -  {!CancellationName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Requested by - {!Requested_by},  {!Title}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone # - {!Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cancellation Type - {!Cancellation_Type}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reason for Cancellation - {!Reason_for_Cancellation}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Filing Month - {!Last_Filing_Month} &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Filing Year - {!Last_Filing_Year}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mark Final on Behalf - {!File_On_Behalf}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Close Account on Behalf - {!Closeaccount_onbehalf}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Customer Comments&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CustomerComments_RS}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please verify the information submitted is correct. Hit Previous to correct any information. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify</name>
            <dataType>Boolean</dataType>
            <fieldText>Check box to verify information is correct.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please check the box to verify the information entered is correct.  Hit previous to correct any information before submitting.  Upon correction, hit Next to submit.</errorMessage>
                <formulaExpression>{!Verify} = true</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Returns_Cancellation</startElementReference>
    <variables>
        <name>ActualCancelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Capture cancellation ID passed to flow</description>
        <name>cnclid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCancellationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCancellationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCnclNamefrmLKup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestedbyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
