Prod/src/flows/Snapshot_GLI_Workload-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Insert_GLI_Workload_Row_Calc</name>
        <label>Insert GLI Workload Row - Calc?</label>
        <locationX>336</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>Skip Calc Row</defaultConnectorLabel>
        <rules>
            <name>Insert_Calc_Row</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnCalcAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCalcAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnCalcSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCalcSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Calc_Row</targetReference>
            </connector>
            <label>Insert Calc Row</label>
        </rules>
        <rules>
            <name>Skip_Calc_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnCalcAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCalcAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnCalcSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCalcSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Insert_GLI_Workload_Row_Certs</targetReference>
            </connector>
            <label>Skip Calc Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_GLI_Workload_Row_Certs</name>
        <label>Insert GLI Workload Row - Certs?</label>
        <locationX>615</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>Skip Certs Row</defaultConnectorLabel>
        <rules>
            <name>Insert_Certs_Row</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnCertsAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCertsAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnCertsSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCertsSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Certs_Row</targetReference>
            </connector>
            <label>Insert Certs Row</label>
        </rules>
        <rules>
            <name>Skip_Certs_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnCertsAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCertsAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnCertsSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCertsSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Insert_GLI_Workload_Row_Returns</targetReference>
            </connector>
            <label>Skip Certs Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_GLI_Workload_Row_Returns</name>
        <label>Insert GLI Workload Row - Returns?</label>
        <locationX>871</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>Skip Returns Row</defaultConnectorLabel>
        <rules>
            <name>Insert_Returns_Row</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnReturnsAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryReturnsAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnReturnsSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryReturnsSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Returns_Row</targetReference>
            </connector>
            <label>Insert Returns Row</label>
        </rules>
        <rules>
            <name>Skip_Returns_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnReturnsAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryReturnsAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnReturnsSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryReturnsSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Insert_GLI_Workload_Row_SST</targetReference>
            </connector>
            <label>Skip Returns Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_GLI_Workload_Row_SST</name>
        <label>Insert GLI Workload Row - SST?</label>
        <locationX>1140</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>Skip SST Row</defaultConnectorLabel>
        <rules>
            <name>Insert_SST_Row</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnSSTAsset</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnSSTSubscription</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_SST_Row_0</targetReference>
            </connector>
            <label>Insert SST Row</label>
        </rules>
        <rules>
            <name>Skip_SST_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnSSTAsset</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AddOnSSTSubscription</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Skip SST Row</label>
        </rules>
    </decisions>
    <label>Snapshot GLI Workload v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Calc_Row</name>
        <label>Create Calc Row</label>
        <locationX>336</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Insert_GLI_Workload_Row_Certs</targetReference>
        </connector>
        <inputAssignments>
            <field>Connector__c</field>
            <value>
                <elementReference>Connector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <stringValue>Calc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIID__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIName__c</field>
            <value>
                <elementReference>GLIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoLive_Implementation__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GLI_Workload__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Certs_Row</name>
        <label>Create Certs Row</label>
        <locationX>616</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Insert_GLI_Workload_Row_Returns</targetReference>
        </connector>
        <inputAssignments>
            <field>Connector__c</field>
            <value>
                <elementReference>Connector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <stringValue>Certs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIID__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIName__c</field>
            <value>
                <elementReference>GLIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoLive_Implementation__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GLI_Workload__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Returns_Row</name>
        <label>Create Returns Row</label>
        <locationX>872</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Insert_GLI_Workload_Row_SST</targetReference>
        </connector>
        <inputAssignments>
            <field>Connector__c</field>
            <value>
                <elementReference>Connector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <stringValue>Returns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIID__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIName__c</field>
            <value>
                <elementReference>GLIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoLive_Implementation__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GLI_Workload__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SST_Row_0</name>
        <label>Create SST Row</label>
        <locationX>1141</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Connector__c</field>
            <value>
                <elementReference>Connector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultant__c</field>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <stringValue>SST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIID__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLIName__c</field>
            <value>
                <elementReference>GLIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoLive_Implementation__c</field>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RunDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GLI_Workload__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_GLI</name>
        <label>Lookup GLI</label>
        <locationX>52</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_GLI_Workload_Row_Calc</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </filters>
        <object>GoLive_Implementation__c</object>
        <outputAssignments>
            <assignToReference>AddOnCalcAsset</assignToReference>
            <field>AddOnCalcAsset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnCertsAsset</assignToReference>
            <field>AddOnCertsAsset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnReturnsAsset</assignToReference>
            <field>AddOnReturnsAsset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnCalcSubscription</assignToReference>
            <field>Add_On_Calc_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnCertsSubscription</assignToReference>
            <field>Add_On_Certs_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnReturnsSubscription</assignToReference>
            <field>Add_On_Returns_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnSSTAsset</assignToReference>
            <field>Add_On_SST_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddOnSSTSubscription</assignToReference>
            <field>Add_On_SST_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCalcAsset</assignToReference>
            <field>Primary_Calc_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCalcSubscription</assignToReference>
            <field>Primary_Calc_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCertsAsset</assignToReference>
            <field>Primary_Certs_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCertsSubscription</assignToReference>
            <field>Primary_Certs_Subscription__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryReturnsAsset</assignToReference>
            <field>Primary_Returns_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryReturnsSubscription</assignToReference>
            <field>Primary_Returns_Subscription__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_GLI</startElementReference>
    <variables>
        <name>AddOnCalcAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnCalcSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnCertsAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnCertsSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnReturnsAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnReturnsSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnSSTAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AddOnSSTSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Connector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Consultant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Family</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GLIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCalcAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryCalcSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryCertsAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryCertsSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryReturnsAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryReturnsSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RunDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
