Prod/src/flows/Stamp_SFDC_Account_ID_on_CVI-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_SFDC_Account_ID</name>
        <label>Check for SFDC Account ID</label>
        <locationX>458</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>Account_ID_located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFDCAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_SFDC_Account_Lookup_on_CVI</targetReference>
            </connector>
            <label>Account ID located</label>
        </rules>
        <rules>
            <name>Account_ID_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFDCAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account ID null</label>
        </rules>
    </decisions>
    <interviewLabel>Stamp SFDC Account ID on CVI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stamp SFDC Account ID on CVI</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Account_Statistics_for_SFDC_Account_ID</name>
        <label>Query Account Statistics for SFDC Account ID</label>
        <locationX>338</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_SFDC_Account_ID</targetReference>
        </connector>
        <filters>
            <field>Active_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AvaTaxAccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AvaTaxAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>System__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROD</stringValue>
            </value>
        </filters>
        <object>Account_Statistics__c</object>
        <outputAssignments>
            <assignToReference>SFDCAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Populate_SFDC_Account_Lookup_on_CVI</name>
        <label>Populate SFDC Account Lookup on CVI</label>
        <locationX>418</locationX>
        <locationY>345</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CVIRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>SFDCAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance_Item__c</object>
    </recordUpdates>
    <startElementReference>Query_Account_Statistics_for_SFDC_Account_ID</startElementReference>
    <variables>
        <name>AvaTaxAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CVIRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFDCAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
