Prod/src/flows/Stamp_Pro_Basic_on_GLI-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Basic_Final</name>
        <label>Assign Basic Final</label>
        <locationX>938</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>ProBasicFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pro_Basic_on_GLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pro_Final</name>
        <label>Assign Pro Final</label>
        <locationX>930</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>ProBasicFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pro_Basic_on_GLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Final_Pro_Basic</name>
        <label>Determine Final Pro Basic</label>
        <locationX>738</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>Skip Update</defaultConnectorLabel>
        <rules>
            <name>Assign_Pro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnProBasic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryProBasic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pro_Final</targetReference>
            </connector>
            <label>Assign Pro</label>
        </rules>
        <rules>
            <name>Assign_Basic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOnProBasic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryProBasic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Basic_Final</targetReference>
            </connector>
            <label>Assign Basic</label>
        </rules>
        <rules>
            <name>Skip_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnProBasic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddOnProBasic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Basic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryProBasic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryProBasic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Basic</stringValue>
                </rightValue>
            </conditions>
            <label>Skip Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_whether_Add_On_Asset_Exists</name>
        <label>Determine whether Add On Asset Exists</label>
        <locationX>182</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>Skip Add On Lookup</defaultConnectorLabel>
        <rules>
            <name>Look_Up_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Addon_Subscription_Pro_Basic</targetReference>
            </connector>
            <label>Look Up Add On</label>
        </rules>
        <rules>
            <name>Skip_Add_On_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOnID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_whether_Primary_exists</targetReference>
            </connector>
            <label>Skip Add On Lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_whether_Primary_exists</name>
        <label>Determine whether Primary exists</label>
        <locationX>476</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>Skip Primary Look Up</defaultConnectorLabel>
        <rules>
            <name>Look_Up_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Primary_Subscriptoin_Pro_Basic</targetReference>
            </connector>
            <label>Look Up Primary</label>
        </rules>
        <rules>
            <name>Skip_Primary_Look_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Determine_Final_Pro_Basic</targetReference>
            </connector>
            <label>Skip Primary Look up</label>
        </rules>
    </decisions>
    <label>Stamp Pro/Basic on GLI v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Addon_Subscription_Pro_Basic</name>
        <label>Lookup Addon Subscription Pro/Basic</label>
        <locationX>184</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_whether_Primary_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddOnID</elementReference>
            </value>
        </filters>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <outputAssignments>
            <assignToReference>AddOnProBasic</assignToReference>
            <field>ServiceLevel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_Subscriptoin_Pro_Basic</name>
        <label>Lookup Primary Subscriptoin Pro/Basic</label>
        <locationX>484</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Final_Pro_Basic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryID</elementReference>
            </value>
        </filters>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <outputAssignments>
            <assignToReference>PrimaryProBasic</assignToReference>
            <field>ServiceLevel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pro_Basic_on_GLI</name>
        <label>Update Pro Basic on GLI</label>
        <locationX>1130</locationX>
        <locationY>199</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pro_Basic__c</field>
            <value>
                <elementReference>ProBasicFinal</elementReference>
            </value>
        </inputAssignments>
        <object>GoLive_Implementation__c</object>
    </recordUpdates>
    <startElementReference>Determine_whether_Add_On_Asset_Exists</startElementReference>
    <variables>
        <name>AddOnID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddOnProBasic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddOnProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryProBasic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pro_Basic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProBasicFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
