Prod/src/flows/Stamp_Quote_Notes_v2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>RepFullName</name>
        <dataType>String</dataType>
        <expression>{!RepFirstName} &amp; &quot; &quot; &amp; {!RepLastName}</expression>
    </formulas>
    <label>Stamp Quote Notes v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_GoLive_Notes_from_Quote</name>
        <label>Look up GoLive Notes from Quote</label>
        <locationX>168</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_Sales_Rep_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__Quote__c</object>
        <outputAssignments>
            <assignToReference>DesiredReturnsLive</assignToReference>
            <field>AvalaraFirstFilingDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryContact</assignToReference>
            <field>CustomerGoLivePointofContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesiredCalcLive</assignToReference>
            <field>DesiredCalcLiveDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesiredCertsLive</assignToReference>
            <field>DesiredCertsLiveDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FilingCalendar</assignToReference>
            <field>FilingCalendar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinanceContact</assignToReference>
            <field>FinanceContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GoLiveNotes</assignToReference>
            <field>GoLiveNotes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImplementationStartDate</assignToReference>
            <field>GoLiveStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ListofProducts_Services</assignToReference>
            <field>ListofProducts_Services__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRep</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaxabilityNotes</assignToReference>
            <field>TaxabilityNotes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TechnicalContact</assignToReference>
            <field>TechnicalContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TreasuryContact</assignToReference>
            <field>TreasuryContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VARContact</assignToReference>
            <field>VARContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>eFileLogins</assignToReference>
            <field>eFileLogins__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppID</assignToReference>
            <field>zqu__Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Sales_Rep_Name</name>
        <label>Look up Sales Rep Name</label>
        <locationX>317</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_GLI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRep</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>RepFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RepLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_GLI</name>
        <label>Update GLI</label>
        <locationX>461</locationX>
        <locationY>324</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GLIID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AvalaraFirstFilingDate_from_Opp__c</field>
            <value>
                <elementReference>DesiredReturnsLive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Start_Date__c</field>
            <value>
                <elementReference>ImplementationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesiredCalcLiveDate_from_Opp__c</field>
            <value>
                <elementReference>DesiredCalcLive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesiredCertsLiveDate_from_Opp__c</field>
            <value>
                <elementReference>DesiredCertsLive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FilingCalendar_from_Opp__c</field>
            <value>
                <elementReference>FilingCalendar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoLiveNotes_from_Opp__c</field>
            <value>
                <elementReference>GoLiveNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImplementationStartDate_from_Opp__c</field>
            <value>
                <elementReference>ImplementationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListofProducts_Services_from_Opp__c</field>
            <value>
                <elementReference>ListofProducts_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPointofContact_from_Opp__c</field>
            <value>
                <elementReference>PrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>RepFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Quote__c</field>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxabilityNotes_from_Opp__c</field>
            <value>
                <elementReference>TaxabilityNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechnicalContact_from_Opp__c</field>
            <value>
                <elementReference>TechnicalContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TreasuryContact_from_Opp__c</field>
            <value>
                <elementReference>TreasuryContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VARContact_from_Opp__c</field>
            <value>
                <elementReference>VARContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eFileLogin_from_Opp__c</field>
            <value>
                <elementReference>eFileLogins</elementReference>
            </value>
        </inputAssignments>
        <object>GoLive_Implementation__c</object>
    </recordUpdates>
    <startElementReference>Look_up_GoLive_Notes_from_Quote</startElementReference>
    <variables>
        <name>ChargeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesiredCalcLive</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesiredCertsLive</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DesiredReturnsLive</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eFileLogins</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FilingCalendar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinanceContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GoLiveNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImplementationStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListofProducts_Services</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RepFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaxabilityNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TechnicalContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TreasuryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
