Prod/src/flows/Update_QC_QRPC_QCS-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Continue_Exit_QC_Loop</name>
        <label>Continue / Exit QC Loop</label>
        <locationX>361</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QC</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
        <rules>
            <name>Exit_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_QRPC_record</targetReference>
            </connector>
            <label>Exit Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Exit_QCS_Loop</name>
        <label>Continue / Exit QCS Loop</label>
        <locationX>1262</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QCS</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
        <rules>
            <name>Exit_Loop_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Exit_QRPC_Loop</name>
        <label>Continue / Exit QRPC Loop</label>
        <locationX>826</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QRPC</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
        <rules>
            <name>Exit_Loop_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NullCheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_QCS_record</targetReference>
            </connector>
            <label>Exit Loop</label>
        </rules>
    </decisions>
    <label>Update QC / QRPC / QCS v5</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_QC_record</name>
        <label>Lookup QC record</label>
        <locationX>127</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continue_Exit_QC_Loop</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zqu__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteCharge__c</object>
        <outputAssignments>
            <assignToReference>NullCheck</assignToReference>
            <field>UseToEdit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_QCS_record</name>
        <label>Lookup QCS record</label>
        <locationX>1020</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continue_Exit_QCS_Loop</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteChargeSummary__c</object>
        <outputAssignments>
            <assignToReference>NullCheck</assignToReference>
            <field>Use_ToEdit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_QRPC_record</name>
        <label>Lookup QRPC record</label>
        <locationX>600</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continue_Exit_QRPC_Loop</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QuoteID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>zqu__QuoteRatePlanCharge__c</object>
        <outputAssignments>
            <assignToReference>NullCheck</assignToReference>
            <field>UseToEdit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_QC</name>
        <label>Update QC</label>
        <locationX>127</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Lookup_QC_record</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zqu__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveEdited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseToEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>zqu__QuoteCharge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QCS</name>
        <label>Update QCS</label>
        <locationX>1020</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Lookup_QCS_record</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedsEffectiveEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_ToEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>zqu__QuoteChargeSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QRPC</name>
        <label>Update QRPC</label>
        <locationX>600</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Lookup_QRPC_record</targetReference>
        </connector>
        <filters>
            <field>NeedsUpdate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NullCheck</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedsEffectiveEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseToEdit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>zqu__QuoteRatePlanCharge__c</object>
    </recordUpdates>
    <startElementReference>Lookup_QC_record</startElementReference>
    <variables>
        <name>NullCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
