Prod/src/flows/Update_Opp_Contact_Role-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>530</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>colPlaceholder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjectContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_a_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0</name>
        <label>Assign</label>
        <locationX>960</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>colPlaceholder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjectContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_any_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_existing_contact_roles</name>
        <label>Any existing contact roles</label>
        <locationX>246</locationX>
        <locationY>8</locationY>
        <defaultConnector>
            <targetReference>Get_a_list_of_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existing contact roles</defaultConnectorLabel>
        <rules>
            <name>Got_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFirstContactRoleCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Lock_0</targetReference>
            </connector>
            <label>Already Got Roles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_Contacts</name>
        <label>Are there any Contacts</label>
        <locationX>21</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Reset_Lock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contacts</defaultConnectorLabel>
        <rules>
            <name>Found_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_a_Primary_Contact</targetReference>
            </connector>
            <label>Found Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Good_Contact</name>
        <label>Good Contact w/email?</label>
        <locationX>668</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Assign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bad Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_Good_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Role</targetReference>
            </connector>
            <label>Yes Good Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact</name>
        <label>Are you a Primary Contact?</label>
        <locationX>248</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectContact.PrimaryContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjectContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Role</targetReference>
            </connector>
            <label>Yes Primary</label>
        </rules>
    </decisions>
    <description>duplicate control, primary and secondary lookups</description>
    <interviewLabel>Update Opp Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Update Opp Contact Role</label>
    <loops>
        <name>Find_a_Primary_Contact</name>
        <label>Find a Primary Contact</label>
        <locationX>243</locationX>
        <locationY>146</locationY>
        <assignNextValueToReference>sobjectContact</assignNextValueToReference>
        <collectionReference>colContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Primary_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_any_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_any_Contact</name>
        <label>Find any Contact</label>
        <locationX>668</locationX>
        <locationY>150</locationY>
        <assignNextValueToReference>sobjectContact</assignNextValueToReference>
        <collectionReference>colContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Good_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Lock_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Role</name>
        <label>Create Opp Role</label>
        <locationX>247</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Reset_Lock</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sobjectContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_a_list_of_Contacts</name>
        <label>Get a List of Contacts from Account</label>
        <locationX>531</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>colContactList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimaryContact__c</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookfor_Existing_Contact_roles</name>
        <label>Look for Existing Contact roles?</label>
        <locationX>18</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_existing_contact_roles</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>colFirstContactRoleCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Lock</name>
        <label>Reset Opp Lock</label>
        <locationX>15</locationX>
        <locationY>302</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Lock_0</name>
        <label>Opp Reset Lock</label>
        <locationX>957</locationX>
        <locationY>161</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Locked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookfor_Existing_Contact_roles</startElementReference>
    <variables>
        <name>colContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colFirstContactRoleCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>colPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobjectContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
